@charset "utf-8";

        * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
        *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; /*vertical-align: baseline;*/ } 

        /* HTML5 display-role reset for older browsers */

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
        body { line-height: 1; }
        ol, ul { list-style: none; }
        a { text-decoration: none;}
        blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
        table { border-collapse: collapse; border-spacing: 0; }
        button, select { border-radius: 0; appearance: none; -webkit-border-radius: 0; /*-webkit-appearance: none;*/ border: 1px solid #333; box-sizing: border-box; background: #fff; color: #333; }
        input[type='date'], input[type='button'], input[type='submit'] { border-radius: 0; appearance: none; -webkit-border-radius: 0; -webkit-appearance: none; border: 1px solid #333; box-sizing: border-box; }
        input[type='date'] { height: 40px; font-size: 13px; border-radius: 3px; }
        input[type='button'] { height: 40px; font-size: 15px; border-radius: 3px; color: #333; background: #fafafa; }
        .hidden { display: none; }
        /*#reserveModifyModal { width: 98%; margin: 0px 1%; padding: 0; }*/
        #reserveModifyModal { position: absolute; width: 100vw; height: 100vh; margin: 0px 0vw; padding: 0; /*background: rgba(0, 0, 0, 0.5);*/ background: #fff; top: 0px; left: 0px; /*display: none;*/ }
        #reserveModifyModal::after { content: ''; display: block; clear: both; }
        #reserveModifyModal .modal-header { height: 50px; margin: 0px 0 30px; padding: 15px 24px 0; width: 100%; position: relative; background: #111;  }
        #reserveModifyModal .modal-header h5 { font-size: 21px; font-weight: 600; color: #fff; }
        #reserveModifyModal .modal-header .close { position: absolute; top: 18px; right: 20px; }
        #reserveModifyModal form table { width: 100%; }
        /*#reserveModifyModal form .table th { background: #333; }*/
        #reserveModifyModal form table th { height: 35px; padding: 2px 10px; background: #333; color: #fff; font-size: 16px; }
        #reserveModifyModal form table td { height: 60px; padding: 2px 10px; background: #fff; font-size: 14px; line-height: 27px; text-align: center; }
        #reserveModifyModal form table td input { text-align: center; }
        #reserveModifyModal form table td.select_td {  }
        #reserveModifyModal form table td.select_td select { padding: 5px 10px; }
        #reserveModifyModal form .table1 {  }
        #reserveModifyModal form .table1 th { width: 50%; }
        #reserveModifyModal form .table1 td { height: 35px; text-align: center; }
        #reserveModifyModal form .table1 tr:nth-child(1) td { background: #f6f6f6; }
        #reserveModifyModal form .table2 {  }
        #reserveModifyModal form .table2 th {  }
        #reserveModifyModal form .table2 td {  }
        #reserveModifyModal form .table3 {  }
        #reserveModifyModal form .table3 th {  }
        #reserveModifyModal form .table3 td {  }
        #reserveModifyModal form .table3 td input#guestroom_reserve_user_phone { min-width: 40%; }
        #reserveModifyModal form .table3 td input#guestroom_reserve_user_request { width: 100%; text-align: left; }
        #reserveModifyModal form .table3 td input#guestroom_reserve_memo { width: 100%; text-align: left; }
        #reserveModifyModal .bot_btn_box { width: 100%; padding: 20px 0 40px; text-align: center; background: #fff; }

        #reserveModifyModal .input { padding: 10px 0px; border: 1px solid #333; border-radius: 3px; }
        #reserveModifyModal button.btn { padding: 8px 15px; border-radius: 3px; }
        #reserveModifyModal button.btn-primary { border: 1px solid #2e6da4; background-color: #337ab7; color: #fff; }