@charset "utf-8";

/*@import url("../skin/member/basic/style.css");*/

label { display: inline; }
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus { box-shadow: none !important; border: 1px solid #333 !important; }

section { width: 1140px; margin: 0 auto; }

section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo  { display: none; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc { display: block; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 { width: 100%; margin: 30px 0 30px; border-bottom: 1px solid #ddd; }
/*section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: left; }*/
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fcfcfc; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: center; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-child(1) { width: 24%; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-child(2) { width: 18%; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(1),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(2),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(3) { width: 13%; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }

section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 td { padding: 15px 5px; text-align: center; border-bottom: 1px solid #eee; line-height: 27px; vertical-align: middle; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 td:nth-last-child(1),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 td:nth-last-child(2),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 td:nth-last-child(3) { padding: 15px 10px 15px 5px; text-align: right; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-child(2n) td { background: #fefefe; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td { font-weight: 600; background: #fcfcfc; border-bottom: 1px solid #ddd; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(1),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(2),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(3) { padding: 15px 10px 15px 5px; font-weight: 500; text-align: right; }

/*section#customer_info #room_reserve_pay table.reser_pay_table2 { width: 580px; margin: 20px 10px; float: left; }*/
section#customer_info #room_reserve_pay table.reser_pay_table2 { width: 580px; margin: 20px 10px; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr:nth-child(2n) td { background: #fff; }

section#customer_info #room_reserve_pay table.reser_pay_table3 { width: 580px; margin: 30px 10px; float: left; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td input { width: 100%; padding: 10px; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td textarea { width: 100%; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr:nth-child(2n) td { background: #fff; }

section#customer_info #room_reserve_pay table.reser_pay_table4 { width: 520px; margin: 30px 10px; float: right; }
section#customer_info #room_reserve_pay table.reser_pay_table4 h5 { font-size: 1em; font-family: 'Malgun Gothic', dotum, sans-serif; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr:nth-child(2n) td { background: #fff; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input { width: 10%; padding: 10px; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input#account_info { width: 100%; text-align: left; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input#depositor { width: 40%; text-align: right; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td label { display: inline; }

section#customer_info #room_reserve_pay .reser_pay_div5 { width: 98%; margin: 20px 1%; padding: 10px 0; }
section#customer_info #room_reserve_pay .reser_pay_div5 h3 { margin: 20px 0 0; padding: 20px 30px; font-size: 17px; font-weight: 600; color: #fff; background: rgba(10, 10, 10, 0.75); border-radius: 1px; }
section#customer_info #room_reserve_pay .reser_pay_div5 h3::before { content: 'O'; display: inline-block; padding-right: 5px; }
section#customer_info #room_reserve_pay .reser_pay_div5 .tri { position: relative; top: 10px; right: 10px; display: inline-block; }
section#customer_info #room_reserve_pay .reser_pay_div5 .tri::after { width: 0px; height: 0px; border-bottom: 10px solid transparent; border-top: 10px solid #fff; border-left: 10px solid transparent; border-right: 10px solid transparent; }
section#customer_info #room_reserve_pay .reser_pay_div5 div { height: inherit !important; margin: 0px; padding: 20px; background: #fafafa; }
section#customer_info #room_reserve_pay .reser_pay_div5 div p {  }
section#customer_info #room_reserve_pay .reser_pay_div5 div p textarea { width: 100%; height: 200px; padding: 10px; font-size: 13px; font-weight: 400; line-height: 25px; border: 1px solid #ccc; box-sizing: border-box; border-radius: 3px; }
section#customer_info #room_reserve_pay .checkbox_wrap { padding: 0px 30px 10px; font-size: 15px; font-weight: 600; display: inline-block; }
section#customer_info #room_reserve_pay .checkbox_wrap input { vertical-align: middle; }


/* 예약완료 */
section#reservation_completion { min-height: 800px; margin: 20px auto; padding: 10px 0 10px 0; }
section#reservation_completion #room_reserve_end { width: 1140px; margin: 0 auto; }
section#reservation_completion #room_reserve_end  h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#reservation_completion #room_reserve_end  h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#reservation_completion #room_reserve_end .top_notice { margin: 40px 0 30px; padding: 20px 30px 40px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
section#reservation_completion #room_reserve_end .top_notice h6 { font-size: 17px; font-weight: 600; line-height: 61px; }
section#reservation_completion #room_reserve_end .top_notice p { font-size: 15px; line-height: 25px; position: relative; }

section#reservation_completion #room_reserve_end .table_wrap_mo  { display: none; }
section#reservation_completion #room_reserve_end .table_wrap_pc { display: block; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 { width: 100%; margin: 30px 0 30px; border-bottom: 1px solid #ddd; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: left; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th:nth-child(1) { width: 24%; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th:nth-child(2) { width: 18%; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th:nth-last-child(1),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th:nth-last-child(2),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 th:nth-last-child(3) { width: 13%; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }

section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 td { padding: 15px 5px; text-align: center; border-bottom: 1px solid #eee; line-height: 27px; vertical-align: middle; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 td:nth-last-child(1),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 td:nth-last-child(2),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 td:nth-last-child(3) { padding: 15px 10px 15px 5px; text-align: right; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:nth-child(2n) td { background: #fefefe; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:last-child td { font-weight: 600; background: #fcfcfc; border-bottom: 1px solid #ddd; }
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(1),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(2),
section#reservation_completion #room_reserve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(3) { padding: 15px 10px 15px 5px; font-weight: 500; text-align: right; }

section#reservation_completion #room_reserve_end table.table_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
section#reservation_completion #room_reserve_end table.table_2 tr { border-bottom: 1px solid #eee; }
section#reservation_completion #room_reserve_end table.table_2 tbody tr:last-child { border-bottom: 0; }
section#reservation_completion #room_reserve_end table.table_2 th { width: 12%; padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; }
/*section#reservation_completion #room_reserve_end table.table_2 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }*/
section#reservation_completion #room_reserve_end table.table_2 td { padding: 15px 15px; line-height: 27px; }
section#reservation_completion #room_reserve_end table.table_2 tr:last-child td {   }
section#reservation_completion #room_reserve_end table.table_2 tr:last-child td:nth-last-child(1),
section#reservation_completion #room_reserve_end table.table_2 tr:last-child td:nth-last-child(2),
section#reservation_completion #room_reserve_end table.table_2 tr:last-child td:nth-last-child(3) {  }


/* 예약확인 */
section#reservation_inquiry { min-height: 320px; margin: 20px auto; padding: 10px 0 10px 0; }
section#reservation_inquiry #room_reservation_inquiry { width: 1140px; margin: 0 auto; }
section#reservation_inquiry #room_reservation_inquiry h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#reservation_inquiry #room_reservation_inquiry h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

/*section#reservation_inquiry #room_reservation_inquiry .top_notice { margin: 40px 0 30px; padding: 20px 30px 40px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; position: relative; }
section#reservation_inquiry #room_reservation_inquiry .top_notice h6 { font-size: 17px; font-weight: 600; line-height: 61px; }
section#reservation_inquiry #room_reservation_inquiry .top_notice p { font-size: 15px; line-height: 25px; position: relative; }*/
/*section#reservation_inquiry #room_reservation_inquiry .top_notice p:before { font-family: "Font Awesome 5 Free"; content: '\f111'; display: inline-block; position: absolute; top: 0; left: -20px; font-family: font }*/

section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap { margin: 40px 0 30px; padding: 30px; background: #fefefe; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; position: relative; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry { width: 580px; /*margin: 30px 10px; float: left;*/ }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
/*section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa; }*/
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry td { width: 50%; padding: 10px 5%; text-align: left; background: #fafafa; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry td input { width: 100%; padding: 10px; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry tr:nth-child(2) td { background: #fff; }


/* 예약확인 리스트 */
section#reservation_inquiry_list { margin: 20px auto; padding: 10px 0 10px 0; }
section#reservation_inquiry_list #room_reservation_inquiry_list { width: 1140px; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap { margin-top: 30px; /*display: none;*/ }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo { display: none; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc { display: block; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 { width: 100%; margin: 30px 0 30px; border-bottom: 1px solid #ddd; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: left; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th:nth-child(1) { width: 24%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th:nth-child(2) { width: 18%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th:nth-last-child(1),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th:nth-last-child(2),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 th:nth-last-child(3) { width: 13%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }

section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 td { padding: 15px 5px; text-align: center; border-bottom: 1px solid #eee; line-height: 27px; vertical-align: middle; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 td:nth-last-child(1),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 td:nth-last-child(2),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 td:nth-last-child(3) { padding: 15px 10px 15px 5px; text-align: right; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:nth-child(2n) td { background: #fefefe; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:last-child td { font-weight: 600; background: #fcfcfc; border-bottom: 1px solid #ddd; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:last-child td:nth-last-child(1),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:last-child td:nth-last-child(2),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc table.table_inquiry_1 tr:last-child td:nth-last-child(3) { padding: 15px 10px 15px 5px; font-weight: 500; text-align: right; }

section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr { border-bottom: 1px solid #eee; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tbody tr:last-child { border-bottom: 0; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 th { width: 12%; padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; }
/*section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }*/
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 td { padding: 15px 15px; line-height: 27px; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr:last-child td { }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr:last-child td:nth-last-child(1),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr:last-child td:nth-last-child(2),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr:last-child td:nth-last-child(3) { }


/* 로그인 폼 */
section#login_form { min-height: 320px; margin: 20px auto; padding: 10px 0 10px 0; }
section#login_form #login_box { width: 500px; margin: 0 auto; }
section#login_form #login_box h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative;   }
/*section#login_form #login_box h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }*/

section#login_form #login_box .login_box_wrap { margin: 40px 0 30px; padding: 30px; background: #fefefe; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; border-radius: 5px; position: relative; }
section#login_form #login_box .login_box_wrap h6 { margin: 0px auto; padding: 5px 0 20px; font-size: 19px; }
section#login_form #login_box .login_box_wrap table.table_login { width: 100%; /*margin: 30px 10px; float: left;*/ }
section#login_form #login_box .login_box_wrap table.table_login th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); border-bottom: 1px solid #ededed; box-sizing: border-box; vertical-align: middle; }
section#login_form #login_box .login_box_wrap table.table_login td { width: 50%; padding: 10px 5%; text-align: left; background: #fafafa; }
section#login_form #login_box .login_box_wrap table.table_login td input { width: 100%; padding: 5px 10px; }
section#login_form #login_box .login_box_wrap table.table_login td input::placeholder { color: #999; }
section#login_form #login_box .login_box_wrap table.table_login tr:nth-child(2) td { background: #fff; }


/* 회원가입 폼 */
section#register_form { min-height: 320px; margin: 20px auto; padding: 10px 0 10px 0; }
section#register_form #register_list { width: 600px; margin: 0 auto; }
section#register_form #register_list h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative;  }
/*section#register_form #register_list h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }*/

section#register_form #register_list table.register_table { width: 580px; margin: 30px 10px; float: left; }
section#register_form #register_list table.register_table tr { padding: 5px 0; }
section#register_form #register_list table.register_table tr th { width: 18%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#register_form #register_list table.register_table tr td { width: 50%; padding: 10px 4%; text-align: right; background: #fafafa }
section#register_form #register_list table.register_table tr td input { width: 100%; padding: 5px; }
section#register_form #register_list table.register_table tr td.address_td input { margin: 5px 0; border: 1px solid #888; }
section#register_form #register_list table.register_table tr td.address_td input::placeholder { color: #999; }
section#register_form #register_list table.register_table tr td.address_td input#reg_mb_zip { width: 40%; padding: 5px; float: left; }
section#register_form #register_list table.register_table tr td.address_td button { margin: 7px 0; background: #2f9cdf; }
section#register_form #register_list table.register_table tr td textarea { width: 100%; }
section#register_form #register_list table.register_table tr:nth-child(2n) td { background: #fff; }

/* 버튼 */

.button_box { width: 500px; margin: 20px auto 20px; padding: 30px 0 0; clear: both; }
.button_box::after { content: ''; display: block; clear: both; }
.button_box input { width: 200px; margin: 0 23px; padding: 10px 15px; font-size: 17px; }

.button_box.login_btn_box { width: 100%; margin: 10px auto 0px; padding: 10px 0 0; clear: both; }
.button_box input.button_box_btn{ width: 200px; margin: 5px 23px; padding: 10px 15px; font-size: 15px; color: #fff; border: 1px solid #eee; box-sizing: border-box; border-radius: 5px; background: #2f9cdf; }
.button_box input#login_btn {  }
.button_box input#oder_non_mb_btn { background: rgba(50, 50, 50, 0.6); }
.button_box input#loginbox_register_btn { background: rgba(10, 10, 10, 0.6); }
.button_box input#register_btn { background: rgba(10, 10, 10, 0.6); }
.button_box input#cancel_btn { background: rgba(100, 100, 100, 0.6); }

.login_info_sch { margin: 20px auto 0px; clear: both; text-align: right; }
.login_info_sch a { width: 100%; margin: 0px; padding: 5px 10px; font-size: 13px; color: #333; border: 1px solid #eee; background: #fefefe; }

.pc_br { display: block; }
.mo_br { display: none; }

@media(max-width: 767px) {
    
section { width: 100%; }
    
/* 고객정보 */
section#customer_info #room_reserve_pay { width: 100%; }
section#customer_info #room_reserve_pay h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
section#customer_info #room_reserve_pay h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#customer_info #room_reserve_pay .reser_pay_table_wrap_pc  { display: none; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo  { display: block; width: 100%; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 { width: 100%; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 th { padding: 15px 10px; font-size: 16px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #f6f6f6; box-sizing: border-box; text-align: center; }
/*section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:nth-child(1) th { background: #f5f5f5; border-bottom: 1px solid #ddd; text-align: left; }*/
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 td { padding: 15px 30px; font-size: 14px; text-align: center; border-top: 1px solid #f6f6f6; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td { background: #fff; border-bottom: 1px solid #ddd; }
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(1),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(2),
section#customer_info #room_reserve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(3) { text-align: center; }

section#customer_info #room_reserve_pay table.reser_pay_table2 { width: 100%; margin: 10px 0; float: left; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr th { width: 25%; padding: 10px 2%; font-size: 14px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa; }
section#customer_info #room_reserve_pay table.reser_pay_table2 tr:nth-child(2n) td { background: #fff; }

section#customer_info #room_reserve_pay table.reser_pay_table3 { width: 100%; margin: 10px 0; float: left; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr th { width: 25%; padding: 10px 2%; font-size: 15px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td input { width: 100%; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr td textarea { width: 100%; }
section#customer_info #room_reserve_pay table.reser_pay_table3 tr:nth-child(2n) td { background: #fff; }

section#customer_info #room_reserve_pay table.reser_pay_table4 { width: 100%; margin: 10px 0; float: right; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr { padding: 5px 0; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr th { width: 25%; padding: 10px 2%; font-size: 14px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr:nth-child(2n) td { background: #fff; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input { width: 10%; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input#account_info { width: 100%; text-align: right; }
section#customer_info #room_reserve_pay table.reser_pay_table4 tr td input#depositor { width: 100%; text-align: right; }

section#customer_info #room_reserve_pay .reser_pay_div5 h3 { padding: 20px 10px; font-size: 15px; }
section#customer_info #room_reserve_pay .reser_pay_div5 div { padding: 20px 5px; }
section#customer_info #room_reserve_pay .reser_pay_div5 div p textarea { font-size: 12px; }
section#customer_info #room_reserve_pay .checkbox_wrap { padding: 0px 20px 10px; font-size: 13px; }

section#reservation_completion #room_reserve_end { width: 100%; }
section#reservation_completion #room_reserve_end h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
section#reservation_completion #room_reserve_end h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#reservation_completion #room_reserve_end .top_notice { margin: 40px 0 30px; padding: 20px 10px 30px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
section#reservation_completion #room_reserve_end .top_notice h6 { font-size: 15px; font-weight: 600; line-height: 41px; }
section#reservation_completion #room_reserve_end .top_notice p { font-size: 13px; line-height: 25px; position: relative; }

section#reservation_completion #room_reserve_end .table_wrap_pc  { display: none; }
section#reservation_completion #room_reserve_end .table_wrap_mo  { display: block; width: 100%; }
section#reservation_completion #room_reserve_end .table_wrap_mo .table_1 { width: 100%; }
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 th { padding: 15px 10px; font-size: 16px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #f6f6f6; box-sizing: border-box; text-align: center; }
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 tr:nth-child(1) th { background: #f5f5f5; border-bottom: 1px solid #ddd; text-align: left; }

section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 td { padding: 15px 30px; font-size: 14px; text-align: center; border-top: 1px solid #f6f6f6; }
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 tr:last-child td { /*background: #fff;*/ border-bottom: 1px solid #ddd; }
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(1),
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(2),
section#reservation_completion #room_reserve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(3) { text-align: center; }

section#reservation_completion #room_reserve_end table.table_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
section#reservation_completion #room_reserve_end table.table_2 tr { border-bottom: 1px solid #eee; }
section#reservation_completion #room_reserve_end table.table_2 tbody tr:last-child { border-bottom: 0; }
section#reservation_completion #room_reserve_end table.table_2 th { width: 30%; padding: 15px 10px; font-size: 14px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; vertical-align: middle; }
section#reservation_completion #room_reserve_end table.table_2 td { padding: 15px 10px; font-size: 13px; line-height: 27px; }
section#reservation_completion #room_reserve_end table.table_2 tbody tr:last-child td { padding: 15px 10px; }
section#reservation_completion #room_reserve_end table.table_2 tbody tr:last-child td textarea { width: 100%; }


section#reservation_inquiry #room_reservation_inquiry { width: 100%; }
section#reservation_inquiry #room_reservation_inquiry h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
section#reservation_inquiry #room_reservation_inquiry h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

/*section#reservation_inquiry #room_reservation_inquiry .top_notice { margin: 40px 0 30px; padding: 20px 10px 30px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
section#reservation_inquiry #room_reservation_inquiry .top_notice h6 { font-size: 15px; font-weight: 600; line-height: 41px; }
section#reservation_inquiry #room_reservation_inquiry .top_notice p { font-size: 13px; line-height: 25px; position: relative; }*/

section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap { margin: 40px 0 30px; padding: 10px 5px; background: #fefefe; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; position: relative; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry { width: 100%; /*margin: 30px 10px; float: left;*/ }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry td { width: 50%; padding: 10px 3%; text-align: right; background: #fafafa; }
section#reservation_inquiry #room_reservation_inquiry .top_inquiry_wrap table.table_inquiry tr:nth-child(2) td { background: #fff; }


section#reservation_inquiry_list #room_reservation_inquiry_list { width: 100%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_pc { display: none; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo { display: block; width: 100%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo .table_inquiry_1 { width: 100%; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 th { padding: 15px 10px; font-size: 16px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #f6f6f6; box-sizing: border-box; text-align: center; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 tr:nth-child(1) th { background: #f5f5f5; border-bottom: 1px solid #ddd; text-align: left; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 td { padding: 15px 30px; font-size: 14px; text-align: center; border-top: 1px solid #f6f6f6; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 tr:last-child td { /*background: #fff;*/ border-bottom: 1px solid #ddd; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 tr:last-child td:nth-last-child(1),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 tr:last-child td:nth-last-child(2),
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap .table_wrap_mo table.table_inquiry_1 tr:last-child td:nth-last-child(3) { text-align: center; }

section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tr { border-bottom: 1px solid #eee; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tbody tr:last-child { border-bottom: 0; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 th { width: 30%; padding: 15px 10px; font-size: 14px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; vertical-align: middle; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 td { padding: 15px 10px; font-size: 13px; line-height: 27px; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tbody tr:last-child td { padding: 15px 10px; }
section#reservation_inquiry_list #room_reservation_inquiry_list .inquiry_list_wrap table.table_inquiry_2 tbody tr:last-child td textarea { width: 100%; }


    
/* 로그인 폼 */
section#login_form { min-height: inherit; margin: 20px auto; padding: 10px 0 10px 0; }
section#login_form #login_box { width: 98%; margin: 0 1%; }
section#login_form #login_box h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; display: none; }
section#login_form #login_box h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#login_form #login_box .login_box_wrap { margin: 40px 0 30px; padding: 30px; background: #fefefe; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; border-radius: 5px; position: relative; }
section#login_form #login_box .login_box_wrap table.table_login { width: 100%; /*margin: 30px 10px; float: left;*/ }
section#login_form #login_box .login_box_wrap table.table_login th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); border-bottom: 1px solid #ededed; box-sizing: border-box; vertical-align: middle; }
section#login_form #login_box .login_box_wrap table.table_login td { width: 50%; padding: 10px 5%; text-align: left; background: #fafafa; }
section#login_form #login_box .login_box_wrap table.table_login td input { width: 100%; padding: 5px 10px; }
section#login_form #login_box .login_box_wrap table.table_login tr:nth-child(2) td { background: #fff; }
    
    
/* 회원가입 폼 */
section#register_form { min-height: inherit; }
section#register_form #register_list { width: 100%; }
section#register_form #register_list table.register_table { width: 96%; margin: 30px 2%; float: left; }
section#register_form #register_list table.register_table tr { padding: 5px 0; }
section#register_form #register_list table.register_table tr th { width: 23%; padding: 10px 2%; font-size: 13px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#register_form #register_list table.register_table tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa }
section#register_form #register_list table.register_table tr td input { width: 100%; padding: 2px 5px; }
section#register_form #register_list table.register_table tr td.address_td input { margin: 5px 0; }
section#register_form #register_list table.register_table tr td.address_td input#reg_mb_zip { width: 48%; padding: 5px; float: left; }
section#register_form #register_list table.register_table tr td.address_td button { width: 86px; margin: 7px 0; }
section#register_form #register_list table.register_table tr td textarea { width: 100%; }
section#register_form #register_list table.register_table tr:nth-child(2n) td { background: #fff; }

    
/* 버튼 */
.button_box { width: 100%; margin: 20px auto 20px; padding: 30px 0 0; clear: both; }
.button_box::after { content: ''; display: block; clear: both; }
.button_box input { width: 45%; margin: 0 2%; padding: 10px 15px; font-size: 15px; }
    
.button_box input#register_btn { width: 160px; background: rgba(10, 10, 10, 0.6); }
.button_box input#cancel_btn { width: 160px; background: rgba(100, 100, 100, 0.6); }

/*.pc_br { display: none; }*/
.mo_br { display: block; }
    
}