@charset "utf-8";

ul, li { margin: 0; padding: 0; list-style: none; }
    
/* 리스트 공통 */
.lists-row{margin-right:-10px;margin-left:-10px;overflow: hidden;}
.lists-row .col-row-0,.lists-row .col-row-1,.lists-row .col-row-2,.lists-row .col-row-3,.lists-row .col-row-4,.lists-row .col-row-5,.lists-row .col-row-6,.lists-row .col-row-7,.lists-row .col-row-8,.lists-row .col-row-9,.lists-row .col-row-10{position:relative;min-height:1px;padding-left:10px;*padding-left:0;padding-right:10px;*padding-right:0;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:0;}
.lists-row .col-row-0,.lists-row .col-row-1{width:100%}
.lists-row .col-row-2{width:50%}
.lists-row .col-row-3{width:33.33333333%}
.lists-row .col-row-4{width:25%}
.lists-row .col-row-5{width:20%}
.lists-row .col-row-6{width:16.66666667%}
.lists-row .col-row-7{width:14.28571428%}
.lists-row .col-row-8{width:12.5%}
.lists-row .col-row-9{width:11.11111111%}
.lists-row .col-row-10{width:10%}
.row-clear{clear:both!important}
/*.lists-row .sct_img img{ max-width:100%; height:auto}*/
.lists-row .sct_img img{ max-width:100%; height: auto;}
.sub-p p { font-size: 15px; }

@media screen and (max-width:767px) {
    .lists-row .col-row-3{width:100%}
    .sub-p p { font-size: 13px; }

}


.blog_area .container { width: 100%;}
    
/*.subpage {background: url('/theme/template1/img/booking_bg.jpg') no-repeat center;padding: 140px 0 260px;background-size: cover;}*/
.subpage { padding: 0px 0 20px;}
.subpage .top_bg {width: 100%; }
/*.bg { padding: 200px 0; background: url('/theme/template1/img/booking_bg.jpg') no-repeat center; background-size: cover; }*/
.bg { margin: 0 auto;  no-repeat center; background-size: cover; margin-top: 10px;padding-bottom: 0;  } 

.bg0 { max-width: 1200px; margin: 0 auto; background-size: cover; margin-top: 100px;padding-bottom: 0;}

/* 서치박스 */
/*.sch_box {background: rgb(255 255 255 / 88%);padding: 2rem;border-radius: 10px;max-width: 480px;margin: 0 auto;}*/
.sch_box {position: relative;padding: 2rem;border-radius: 20px;max-width: 480px;margin: 0px auto 80px;border: 5px solid #46aadf; background-color: #fff; display: none !important;}
/*.sch_box:before {content: '';position: absolute;top: -80px;right: 0; no-repeat center;width: 178px;height: 66px;}*/
.sch_box .sch_tit { margin: 10px 0 40px; text-align: center; }
.sch_box .sch_tit h2 { font-size: 21px; line-height: 1.25; }
.sch_box .sch_content {}

.sch_box .sch_form { position: relative; /*border: 1px solid #ddd;*/ /*border-radius: 10px;*/ }

.sch_box .sch_form .frm_input {width: 100%;}

.sch_box .sch_select {height: 61px;line-height: 61px;}
.sch_box .sch_select.sch_date { margin: 20px 0 70px; padding: 0px; /*border: 1px solid #ddd;*/border-radius: 10px; }
.sch_box .sch_select.sch_locate { margin: 20px 0 70px; border: 1px solid #ddd; border-radius: 10px; }
.sch_box .sch_select .sch_txt { position: relative; padding: 0 0px;  border-radius: 10px; }
.sch_box .sch_select .sch_txt > input { width: 100%; height: 60px; padding: 0px 0px 0px 5px; border: 1px solid #ddd; background: transparent; border-radius: 10px; font-size: 20px; ;}
.sch_box .sch_select .sch_txt > input:focus { border: 1px solid #ddd !important; box-shadow: none !important; }
.sch_box .sch_select .sch_txt .flatpickr-calendar.inline { margin: 10px auto 0; background: #3f4458; }

.sch_box .sch_select .sch_txt p { padding: 0px 8px; }
.sch_box .sch_select .sch_down {position: absolute;top: 0;right: 20px;font-size: 1.3em;}
/*.sch_box .sch_select .sch_pop {display: none;position: absolute;top: 0;left: 100%;width: 100%;background: #fff;border-radius: 10px;box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);z-index: 90;}*/
.sch_box .sch_select .sch_pop { display: none; position: absolute; top: 68px; left: 0; width: 100%; background: #fff; border-radius: 11px; box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%); z-index: 90; }
.sch_box .sch_select.sch_locate .sch_pop { top: 198px; left: 0; }
.sch_box .sch_select.active .sch_pop {display: block;}
.sch_box .sch_select.active .sch_down {transform: rotate(180deg);}
/*.sch_box .sch_pop.sch_calendar {line-height: 1.25;padding: 20px 25px;}*/
/*.sch_box .sch_pop.sch_calendar { width: 100%; height: 300px; padding: 140px 0; text-align: center; border: 2px solid #eee; box-sizing: border-box; border-radius: 11px; }*/
/*.sch_box .sch_pop.sch_calendar { width: 100%; height: 400px; padding: 10px 0; text-align: center; border: 2px solid #eee; box-sizing: border-box; border-radius: 11px; }
.sch_box .sch_pop.sch_calendar p { height: 100%; }
.sch_box .sch_pop.sch_calendar p input { height: 35px; padding: 0 15px; }*/
.sch_box .sch_pop.sch_calendar .inline { margin: 0 auto; }
.sch_box .sch_pop.sch_check { /*max-width: 240px;*/ padding: 20px 25px; top: 198px; left: 0; }
.sch_box .sch_pop.sch_check h3{line-height: 1.25;font-size: 16px;margin: 0 0 5px;}
.sch_box .sch_pop.sch_check p {line-height: 1.25;font-size: 13px;}
.sch_box .sch_pop.sch_check .sch_checkbox {  margin-top: 10px;max-height:180px;overflow: auto; }
.sch_box .sch_pop.sch_check .sch_checkbox span {line-height: 1;display: block;margin: 14px 0;}
.sch_box .sch_pop.sch_check .sch_checkbox input[type=checkbox] {margin: 0;width: 18px;height: 18px;}
.sch_box .sch_pop.sch_check .sch_checkbox label {margin: 0;padding-left: 5px;font-size: 15px;}
.sch_box .sch_pop.sch_check .check_btn {line-height: 1;padding: 10px 0 0;border-top: 1px dashed #ccc;text-align: right;}
.sch_box .sch_pop.sch_check .check_btn a {display: inline-block;font-size: 13px;padding: 10px 20px; color: #fff; background: #333; border-radius: 5px;}

.sch_box .sch_submit {margin-top: 20px;text-align: center;}
/*.sch_box .sch_submit a { width: 160px; height: 45px; margin: 20px auto 0; font-size: 19px; color: #fff; line-height: 45px; background: rgba(10, 10, 10, 0.75); border-radius: 50px; display: block;}*/
.sch_box .sch_submit a { width: 160px; height: 45px; margin: 20px auto 0; font-size: 19px; color: #fff; line-height: 45px; background: #2f9cdf; border-radius: 50px; display: block;}

/*.subpage {background: url('/theme/template1/img/booking_bg.jpg') no-repeat center;padding: 140px 0 260px;background-size: cover;}*/
.sch_top { padding: 0px 0 0px; }
.bg0 { max-width: 1200px; margin: 0 auto; background-size: cover; margin-top: 0px;padding-bottom: 0;}

/* 서치박스2 */
.sch2_box {position: relative;background: rgba(255, 255, 255, 0.95); max-width: 1000px; margin: 0px auto 0;border: 0px solid #fff; }
.sch2_box .sch_tit { margin: 0px 0 0px; text-align: center; }
.sch2_box .sch_tit h2 { font-size: 21px; line-height: 1.25; }
.sch2_box .sch_content {}

.sch2_box .sch_form { position: relative; /*border: 1px solid #ddd;*/ /*border-radius: 10px;*/ }

.sch2_box .sch_form .frm_input {width: 100%;}

.sch2_box .sch_select {height: 61px;line-height: 61px;}
.sch2_box .sch_select.sch_date { margin: 6px 0 6px; padding: 0px; /*border: 1px solid #ddd;*/ }
.sch2_box .sch_select.sch_locate { margin: 6px 0 6px; border: 1px solid #ddd; border-radius: 10px;}
.sch2_box .sch_select .sch_txt { position: relative; padding: 0 0px;}
.sch2_box .sch_select .sch_txt > input { width: 100%; height: 62px; padding: 1px 1px 1px 1px; border: 1px solid #ddd; border-radius: 10px; background: transparent; }
.sch2_box .sch_select .sch_txt > input:focus { border: 1px solid #ddd !important; box-shadow: none !important; }
.sch2_box .sch_select .sch_txt .flatpickr-calendar.inline { margin: 10px auto 0; background: #3f4458; }

.sch2_box .sch_select .sch_txt p { padding: 0px 8px; }
.sch2_box .sch_select .sch_down {position: absolute;top: 0;right: 20px;font-size: 1.3em;}
.sch2_box .sch_select .sch_pop { display: none; position: absolute; top: 5px; left: 0; width: 100%; background: #fff; border-radius: 11px; box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%); z-index: 90; }
.sch2_box .sch_select.sch_locate .sch_pop { top: 198px; left: 0; }
.sch2_box .sch_select.active .sch_pop {display: block;}
.sch2_box .sch_select.active .sch_down {transform: rotate(180deg);}
.sch2_box .sch_pop.sch_calendar .inline { margin: 0 auto; }
.sch2_box .sch_pop.sch_check { /*max-width: 240px;*/ padding: 20px 25px; top: 198px; left: 0; }
.sch2_box .sch_pop.sch_check h3{line-height: 1.25;font-size: 16px;margin: 0 0 5px;}
.sch2_box .sch_pop.sch_check p {line-height: 1.25;font-size: 13px;}
.sch2_box .sch_pop.sch_check .sch_checkbox {  margin-top: 10px;max-height:180px;overflow: auto; }
.sch2_box .sch_pop.sch_check .sch_checkbox span {line-height: 1;display: block;margin: 14px 0;}
.sch2_box .sch_pop.sch_check .sch_checkbox input[type=checkbox] {margin: 0;width: 18px;height: 18px;}
.sch2_box .sch_pop.sch_check .sch_checkbox label {margin: 0;padding-left: 5px;font-size: 15px;}
.sch2_box .sch_pop.sch_check .check_btn {line-height: 1;padding: 10px 0 0;border-top: 1px dashed #ccc;text-align: right;}
.sch2_box .sch_pop.sch_check .check_btn a {display: inline-block;font-size: 13px;padding: 10px 20px; color: #fff; background: #333; border-radius: 5px;}
.sch2_box .sch_submit {margin-top: 6px;text-align: center;}
.sch2_box .sch_submit a { width: 160px; height: 45px; margin: 0px auto 0; font-size: 19px; color: #fff; line-height: 45px; background: #2f9cdf; border-radius: 50px; display: block;}



/* 리스트 */
.list_right { float: right; margin: 0; padding: 0 15px 0 0; }
.list_left { float: left; margin: 0; padding: 0; }
/*.list_map { width: 100%; height: 100vh; }*/
.sct11_map { height: 100vh; }
.list_filter {padding: 24px;}
.list_filter h3 {font-size: 14px;margin-bottom: 10px;}
.list_form {position: relative;width: 100%;}
.list_select {position: relative;width: 100%;margin-bottom: 24px;padding-left: 12px;line-height: 41px;background: #eee;border-radius: 10px;}
.list_select > input { width: 100%; height: 35px; padding: 0px; border: 0; background: transparent; outline: none !important; }
.list_select > input:focus { border: none !important; box-shadow: none !important; outline: none !important; }
.list_select .flatpickr-calendar.inline { margin: 10px auto 0; background: #3f4458; }
.list_select .sch_down {position: absolute;top: 0;right: 20px;font-size: 1.3em;}
/*.list_box {position: absolute;left: 0;width: 100%;padding: 20px 15px 20px 25px;background: #fff;border-radius: 10px;box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);z-index: 90; display: none;}*/
.list_box {position: absolute;left: 0;width: calc(100% - 12px);padding: 20px 15px 20px 15px;background: #fff;border-radius: 10px;box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);z-index: 90; display: none;}
.list_box h4{line-height: 1.25;font-size: 14px;margin: 0 0 5px;}
.list_box p {line-height: 1.25;font-size: 12px;}
.list_box input[type=text] {border: 0;background: #eee;height: 30px;border-radius: 4px;}
.list_box .sch_checkbox span {line-height: 1;display: block;margin: 14px 0;}
.list_box .sch_checkbox input[type=checkbox] {margin: 0;width: 18px;height: 18px;}
.list_box .sch_checkbox label {margin: 0;padding-left: 5px;font-size: 14px;}
.list_box .list_scroll {max-height: 400px;overflow-y: auto;}
.list_box .list_scroll > div {margin-bottom: 20px;}
.list_box .check_btn {line-height: 1;margin: 10px 0 0;padding: 10px 0 0;border-top: 1px dashed #ccc;text-align: right;}
.list_box .check_btn a {display: inline-block;font-size: 13px;padding: 10px 20px;background: #333;color: #fff;border-radius: 5px;}
.list_box .list_select_calendar { width: 100%; height: 300px; padding: 140px 0; text-align: center; border: 1px solid #eee; border-radius: 5px; background: #eee; }
.list_btn {}
.list_btn li > div {width: 100px;font-size: 14px;line-height: 21px;text-align: center;}
.list_btn li > div a {display: block;width: 100%;padding: 10px 0;}
.list_btn li > div a:hover { color: #fff; }
/*.list_btn .list_search {background: rgba(10, 10, 10, 0.75);border-radius: 10px;}*/
.list_btn .list_search {background: #2f9cdf;border-radius: 10px;}
.list_btn .list_search a {color: #fff;}
.list_btn .list_clear { margin-left: auto; border: 1px solid #ddd;border-radius: 10px;}
.list_btn .list_clear a:hover{ color: #333; }
.list_form.active .list_box {display: block;}
.list_form.active .sch_down {transform: rotate(180deg);}

.sct_wrap {margin:25px 0;padding: 0 24px;}
.sct_wrap.lists-row{margin-right:-10px;margin-left:-10px}
.sct_wrap .sct_li {position:relative;float:left;margin-bottom:40px;text-align:left}
.sct_wrap .sct_li:nth-child(3n+1) {clear: both;}
.sct_wrap .sct_li .sct_sub_txt_wrap { }
.sct_wrap .sct_li .sct_sub_txt_wrap ul.sct_sub_ul { display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: 1; justify-content: flex-start; padding: 0px; margin: 5px -6px; list-style: none; font-size: 13px; }
.sct_wrap .sct_li .sct_sub_txt_wrap ul.sct_sub_ul li { margin: 5px 6px; vertical-align: middle; }
.sct_wrap .sct_li .sct_sub_txt_wrap .sct_sub_txt { margin: 7px 0px; font-size: 18px; font-weight: 500; vertical-align: middle; }
.sct_wrap .sct_last {margin-right:0}
.sct_wrap .sct_clear {clear:both}
.sct_wrap .sct_a {text-decoration:none}
.sct_wrap .sct_a:focus, .sct_wrap .sct_a:hover {text-decoration:none}

.sct_wrap .sct_img {position:relative;text-align:center;border-radius: 10px;overflow: hidden;}
.sct_wrap .sct_img a {display:block}
.sct_wrap .sct_cart {display:none;position:absolute;left:0;bottom:0;border:0;width:100%;padding:15px 0;background:#000;background:rgba(0,0,0,0.5);color:#fff;font-size:1em;font-weight:bold}
.sct_wrap .sct_img:hover .sct_cart {display:block}
.sct_wrap .sct_cart i {display:inline-block;margin-right:5px;font-size:1.2em}
.sct_wrap .sct_disc {position:absolute;right:15px;bottom:15px;background:red;color:#fff;padding:0 8px;line-height:24px;font-weight:bold;font-size:1.2em;background:#000;background:rgba(0,0,0,0.5)}

.sct_wrap .sct_ct_wrap {}
.sct_wrap .sct_ct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap .sct_star {margin: 10px 0 5px}
.sct_wrap .sct_txt {font-size:1.1em;margin:10px 0 0;}
.sct_wrap .sct_txt a {cursor:default;pointer-events:none}
.sct_wrap .sct_txt a:hover { color: #999; }
.sct_wrap .sct_basic {border-bottom:1px solid #d9dde2;padding-bottom:10px;margin-bottom:10px;color:#6e7f88}
.sct_wrap .sct_bottom {min-height:20px}
.sct_wrap .sct_cost {margin:5px 0 10px;font-size:1.25em;font-weight:bold}
.sct_wrap .sct_dict {display:block;text-decoration:line-through;font-weight:normal;font-size:0.85em;color:#858a8d}

.sct_wrap .sct_op_btn {position:absolute;right:20px;top: 5px;}
.sct_wrap .sct_op_btn>button {border:0;width:25px;height:25px;font-size:1.25em;text-align:center;color:#fff;background:transparent;transition: all 0.3s;}
/*.sct_wrap .sct_op_btn:hover>button { color: #2f9cdf; }*/
.sct_wrap .sct_op_btn:hover>button { color: crimson; }

/* 상세페이지 */
.sit { width: 1140px; margin: 0 auto; }
            
.sit #sit_pvi { width: 1140px; margin: 0 auto 30px; }
.sit #sit_pvi #sit_pvi_big { width: 500px; margin: 0 auto 20px;  }
.sit #sit_pvi #sit_pvi_big a#big_img { width: 400px; height: 400px; margin: 0 auto; }

.sit #sit_pvi ul#sit_pvi_thumb { width: 500px; height: 80px; margin: 0 auto; }
.sit #sit_pvi ul#sit_pvi_thumb:after { content: ''; display: block; clear: both; }
.sit #sit_pvi ul#sit_pvi_thumb li { width: auto; height: 70px; margin: 5px 6px; float: left; }

.sit #sit_pvi #sit_pvi_big a img { width: 100%; height: 100%; border-radius: 20px; }

.sit #sit_wrap { width: 100%; padding: 10px 0; }
.sit #sit_wrap > section { width: 100%; display: flex; flex-wrap: nowrap; flex-direction: row-reverse;}
/* .sit #sit_wrap > section { width: 100%; display: flex; flex-wrap: nowrap; } */

/* 상품정보 */
.sit #sit_wrap > section #sit_info_wrap { width: 810px; }
.sit #sit_wrap > section #sit_info_wrap h3 { font-size: 31px; line-height: 41px; color: #333; }
.sit #sit_wrap > section #sit_info_wrap span { font-size: 17px; line-height: 35px; color: #666; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader { width: 100%; margin: 10px 0 20px; padding: 10px; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul { width: 100%; /*border: 1px solid #eee; box-sizing: border-box;*/ }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul::after { content: ''; display: block; clear: both; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li { float: left; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li.selected { border-bottom: 4px solid #333; }
/*.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li:nth-child(2) { background: blue; }*/
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li a { width: 100%; height: 100%; padding: 10px 30px; font-size: 17px; display: block; cursor: pointer; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li a:hover { color: #777; }

/* 상품정보 */
.sit #sit_wrap > section #sit_info_wrap #sit_info { width: calc(100% -30px); min-height: 260px; padding: 0 5px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec { padding: 0 10px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all { max-width: 100%; min-height: 260px; margin: 30px 0; padding: 0 5px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all h5 { margin: 10px; font-size: 25px; line-height: 31px; }
/*.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all p { margin: 10px; padding: 10px; font-size: 15px; line-height: 31px; }*/
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all p { max-width: 100%; margin: 10px 5px; padding: 10px 0; font-size: 15px; line-height: 31px; }/**/

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all ul { width: 100%; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 { min-height: 80px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul li { padding: 10px 9px 10px 5px; font-size: 21px; font-weight: 600; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul li i { padding: 0 5px 0 0; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 { min-height: 330px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li { width: 50%; padding: 10px 20px 10px 5px; font-size: 15px; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(4) { width: 33.33%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(3) { width: 33.33%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(2) { width: 33.33%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:last-child { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li i { padding: 0 10px 0 0; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 { min-height: 400px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li { width: 25%; padding: 10px 5px 10px 0px; font-size: 15px; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li:nth-child(2n) {  }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li:last-child {  }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li i { padding: 0 10px 0 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li p { margin: 0; padding: 0; display: inline-block; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .bot_map { min-height: 400px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .bot_map iframe { height: 400px; }

.sit #sit_wrap > section #sit_info #sit_inf_open { width: 100%; border: 0; border-top: 1px solid #e5e5e5; border-collapse: collapse; }
.sit #sit_wrap > section #sit_info #sit_inf_open th { width: 30%; padding: 10px; color: #fff; border-bottom: 1px solid #e5e5e5; background: rgba(10, 10, 10, 0.75); vertical-align: top; text-align: left; }
.sit #sit_wrap > section #sit_info #sit_inf_open td { padding: 10px; border-bottom: 1px solid #e5e5e5; background: #fff; vertical-align: top; }


/* 후기 영역 */
.sit #sit_use { min-height: 360px; }                    

.sit #sit_use .use_list { width: 100%; }
.sit #sit_use .use_list .top_btn_wrap { width: calc(100% - 30px); margin: 0 auto; padding: 17px; height: 100px; border: 1px solid #e8e8e8; box-sizing: border-box; border-radius: 10px; text-align: right; }
.sit #sit_use .use_list .top_btn_wrap a { width: 140px; height: 42px; margin: 10px 5px; padding: 10px 20px; color: #fff; border: 1px solid #333; box-sizing: border-box; border-radius: 3px; background: rgba(10, 10, 10, 0.75); display: inline-block; text-align: center; }

.sit #sit_use .use_list .list_con_wrap { width: calc(100% - 30px); margin: 20px auto; }

/* 후기가 없을 때 */
.sit #sit_use .use_list .list_con_wrap .list_con_count_0 { min-height: 300px; display: none; }
.sit #sit_use .use_list .list_con_wrap .list_con_count_0 p { padding: 139px 0; font-size: 13px; text-align: center; }

/* 후기 리스트 */
.sit #sit_use .use_list .list_con_wrap .list_con { min-height: 300px; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table { width: 100%; border-top: 1px solid #333; border-bottom: 1px solid #333; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table th { padding: 5px 10px; text-align: center; background: #ddd; border-bottom: 1px solid #ccc; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table th.number { width: 13%; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table th.subject { text-align: left; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table th.name { width: 20%; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table th.view { width: 13%; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table td { padding: 5px 2px; text-align: center; border-top: 1px solid #ededed; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table td a { padding: 5px 2px; text-align: center; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table tr:nth-child(2n) td { background: #fafafa; }
.sit #sit_use .use_list .list_con_wrap .list_con .list_con_table td:nth-child(2) { text-align: left; }

/* 문의 영역 */
.sit #sit_qa { min-height: 360px; }

.sit #sit_qa .qa_list { width: 100%; }rightData
.sit #sit_qa .qa_list .top_btn_wrap { width: calc(100% - 30px); margin: 0 auto; padding: 17px; height: 100px; border: 1px solid #e8e8e8; box-sizing: border-box; border-radius: 10px; text-align: right; }
.sit #sit_qa .qa_list .top_btn_wrap a { width: 140px; height: 42px; margin: 10px 5px; padding: 10px 20px; color: #fff; border: 1px solid #333; box-sizing: border-box; border-radius: 3px; background: rgba(10, 10, 10, 0.75); display: inline-block; text-align: center; }

.sit #sit_qa .qa_list .list_con_wrap { width: calc(100% - 30px); margin: 20px auto; }

/* 문의가 없을 때 */
.sit #sit_qa .qa_list .list_con_wrap .list_con_count_0 { min-height: 300px; }
.sit #sit_qa .qa_list .list_con_wrap .list_con_count_0 p { padding: 139px 0; font-size: 13px; text-align: center; }

/* 문의 리스트 */
.sit #sit_qa .qa_list .list_con_wrap .list_con { min-height: 300px; display: none; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table { width: 100%; border-top: 1px solid #333; border-bottom: 1px solid #333; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table th { padding: 5px 10px; text-align: center; background: #ddd; border-bottom: 1px solid #ccc; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table th.number { width: 10%; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table th.subject { text-align: left; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table th.name { width: 12%; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table th.view { width: 10%; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table td { padding: 5px 2px; text-align: center; border-top: 1px solid #ededed; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table td a { padding: 5px 2px; text-align: center; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table tr:nth-child(2n) td { background: #fafafa; }
.sit #sit_qa .qa_list .list_con_wrap .list_con .list_con_table td:nth-child(2) { text-align: left; }

/* 오른쪽 영역 */
.sit #sit_buy { width: 310px; /*border: 1px solid #e8e8e8; border-radius: 10px;*/ vertical-align: top; }
.sit #sit_buy .copyurl_btn { display: inline-block;padding: 4px 12px;margin-bottom: 10px;background: #2f9cdf;color: #fff;border-radius: 6px;font-size: 12px;cursor: pointer; }
.sit #sit_buy .copyurl_btn:after { content: ''; }
.sit #sit_buy section.sit_sel_option { width: 100%; padding: 10px 15px; border: 1px solid #e8e8e8; box-sizing: border-box; border-radius: 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap { width: 100%; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap {  }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap > span { font-size: 29px; font-weight: 600; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap span.price_ { padding: 0 0 0 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap span.price_night { font-size: 17px; font-weight: 400; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap p.reverve { margin: 10px; /*padding: 10px 0 5px;*/ font-size: 21px; font-weight: 600; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .list_select p { }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox { margin-top: 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox span.price_item { line-height: 1; display: block; margin: 14px 0; text-align: left; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox span.price_num { padding: 0 3px 0 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox input[type=checkbox] { margin: 0; width: 18px; height: 18px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox label { margin: 0; padding-left: 5px; font-size: 15px; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing {  }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing table { width: 100%; line-height: 1.5; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing table td { padding: 6px 5px 6px 5px; font-size: 14px; border: 0; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap { border: 0; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .calendar { width: 100%; height: 300px; padding: 140px 0; text-align: center; border: 1px solid #eee; border-radius: 5px; background: #eee; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap { padding: 20px 0; text-align: center; }
/*.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap a.reset_btn { width: 100%; height: 100%; padding: 10px 0; font-size: 15px; color: #fff; background: #333; border: 1px solid #555; border-radius: 30px; display: inline-block; }*/
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap a.reset_btn { width: 120px; height: 100%; padding: 10px 0; font-size: 13px; color: #fff; background: #333; border: 1px solid #555; border-radius: 30px; display: inline-block; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap a.reset_btn:hover { color: #fff; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap { padding: 20px 0; text-align: center; }
/*.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap a.reserve_btn { width: 100%; height: 100%; padding: 10px 0; font-size: 15px; color: #fff; background: #333; border: 1px solid #555; border-radius: 30px; display: inline-block; }*/
.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap a.reserve_btn { width: 100%; height: 100%; padding: 10px 0; font-size: 15px; color: #fff; background: #2f9cdf; border: 1px solid #2f9cdf; border-radius: 30px; display: inline-block; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap a.reserve_btn:hover { color: #fff; }


@media screen and (max-width:990px) {
    
/* 리스트 */
/*.list_map {height: 50vh;}*/
/*.sct11_map { height: 360px; margin: 0 0 80px 0; }*/
    
}


@media screen and (max-width:767px) {

.subpage { padding: 30px 0 20px; }
/*.bg { padding: 200px 0; background: url('/img/11.png') no-repeat center; background-size: cover; }*/
/* .bg { padding: 200px 0; background: url('/theme/template1/img/booking_bg.jpg') no-repeat center; background-size: cover; } */
/*.bg { width: 100%; background: url('/theme/template1/img/mbg.png') no-repeat top; margin-top: 10px; } */
.bg { margin: 0 auto; background-size: cover; margin-top: 10px;padding-bottom: 0; background: url('/theme/template1/img/mbg.png') no-repeat top; } 

/* 서치박스 */
.sch_box {max-width: 380px;margin: 50px auto 0;border: 6px solid #46aadf; }
.sch_box .sch_tit h2 { font-size: 17px; }
.sch_box .sch_select {position: relative;}
.sch_box .sch_select .sch_pop { top: 66px; }
.sch_box .sch_select.sch_locate .sch_pop { top: 66px; }

.sch_box .sch_select.sch_date {margin: 20px 0 30px;}
.sch_box .sch_select.sch_locate {margin: 20px 0 30px;}


/* 리스트 */
.sct11_map { height: 360px; margin: 0 0 80px 0; }

/* 상세페이지 */
.sit { width: 100%; margin: 0 auto; }

.sit #sit_pvi { width: 100%; margin: 0 auto 30px; }
.sit #sit_pvi #sit_pvi_big { width: 100%; margin: 0 auto 20px; }
.sit #sit_pvi #sit_pvi_big a#big_img { width: 100%; margin: 0 auto; }

.sit #sit_pvi ul#sit_pvi_thumb { width: 100%; height: 0px; margin: 0 auto; }
.sit #sit_pvi ul#sit_pvi_thumb:after { content: ''; display: block; clear: both; }
.sit #sit_pvi ul#sit_pvi_thumb li { width: 23%; height: 70px; margin: 5px 1%; float: left; text-align: center; }

.sit #sit_pvi #sit_pvi_big a img { width: 100%; height: 100%; }

.sit #sit_wrap { width: 100%; padding: 10px 0; }
.sit #sit_wrap > section { width: 100%; display: flex; flex-wrap: wrap;}

/* 상품정보 */
.sit #sit_wrap > section #sit_info_wrap { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap h3 { font-size: 21px; line-height: 37px; color: #333; }
.sit #sit_wrap > section #sit_info_wrap span { font-size: 15px; line-height: 29px; color: #666; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader { width: 100%; margin: 10px 0 20px; padding: 10px; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul { width: 100%; /*border: 1px solid #eee; box-sizing: border-box;*/ }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul::after { content: ''; display: block; clear: both; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li { float: left; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li.selected { border-bottom: 4px solid #333; }
/*.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li:nth-child(2) { background: blue; }*/
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li a { width: 100%; height: 100%; padding: 10px 20px; font-size: 17px; display: block; cursor: pointer; }
.sit #sit_wrap > section #sit_info_wrap #tabHeader .tab_header_wrapper ul li a:hover { color: #777; }

/* 상품정보 */
.sit #sit_wrap > section #sit_info_wrap #sit_info { width: calc(100% -30px); min-height: 230px; padding: 0 5px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec { padding: 0px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all { min-height: 260px; padding: 0 5px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all h5 { margin: 10px 0px; font-size: 21px; line-height: 31px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_all p { margin: 10px 0px; padding: 10px 0px; font-size: 13px; line-height: 31px; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 { min-height: 180px; padding: 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul { width: 100%; margin: 10px 0; padding: 10px 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul::after { content: ''; display: block; clear: both; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul li { width: 100%; padding: 5px 0px 5px 2px; font-size: 17px; font-weight: 600; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con0 ul li i { padding: 0 0px 0 0; font-size: 13px; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 { min-height: 440px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul { width: 100%; margin: 10px 0; padding: 10px 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul::after { content: ''; display: block; clear: both; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li { width: 100%; padding: 7px 0px 7px 5px; font-size: 14px; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(4) { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(3) { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:nth-last-child(2) { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li:last-child { width: 100%; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con2 ul li i { padding: 0 0px 0 0; }

.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 { min-height: 600px; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul { width: 100%; margin: 10px 0; padding: 10px 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul::after { content: ''; display: block; clear: both; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li { width: 48%; padding: 7px 5px 7px 0px; font-size: 15px; color: #333; float: left; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li:nth-child(2n) {  }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li:last-child {  }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li i { padding: 0 10px 0 0; }
.sit #sit_wrap > section #sit_info_wrap #sit_info .info_sec .info_con3 ul li p { margin: 0; padding: 0; display: inline-block; }

.sit #sit_wrap > section #sit_info #sit_inf_open { width: 100%; border: 0; border-top: 1px solid #e5e5e5; border-collapse: collapse; }
.sit #sit_wrap > section #sit_info #sit_inf_open th { width: 45%; padding: 10px; font-size: 12px; color: #fff; border-bottom: 1px solid #e5e5e5; background: rgba(10, 10, 10, 0.75); vertical-align: top; text-align: left; }
.sit #sit_wrap > section #sit_info #sit_inf_open td { padding: 10px; font-size: 12px; border-bottom: 1px solid #e5e5e5; background: #fff; vertical-align: top; }


/* 오른쪽 영역 */
/*.sit #sit_wrap > section #sit_buy { width: 100%; border: 1px solid #e8e8e8; border-radius: 10px; vertical-align: top; }*/

.sit #sit_buy { display : block ; width: 96%; margin: 0 2%;}
.sit #sit_buy section.sit_sel_option { width: 100%; padding: 10px; 15px; border: 1px solid #e8e8e8; box-sizing: border-box; border-radius: 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap { width: 100%; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap {  }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap > span { font-size: 29px; font-weight: 600; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap span.price_ { padding: 0 0 0 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .price_wrap span.price_night { font-size: 17px; font-weight: 400; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap p.reverve { margin: 10px; /*padding: 10px 0 5px;*/ font-size: 21px; font-weight: 600; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .list_select p { }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox { margin-top: 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox span.price_item { line-height: 1; display: block; margin: 14px 0; text-align: left; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox span.price_num { padding: 0 3px 0 10px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox input[type=checkbox] { margin: 0; width: 18px; height: 18px; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .list_form .price_checkbox label { margin: 0; padding-left: 5px; font-size: 15px; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing {  }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing table { width: 100%; line-height: 1.5; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing table td { padding: 6px 5px 6px 5px; font-size: 14px; border: 0; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .pricing table tr:nth-last-child(3) td { padding: 14px 5px 6px 5px; font-size: 14px; font-weight: 500; border: 0; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap { border: 0; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .calendar { width: 100%; height: 300px; padding: 140px 0; text-align: center; border: 1px solid #eee; border-radius: 5px; background: #eee; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap { padding: 20px 0; text-align: center; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap a.reset_btn { width: 120px; height: 100%; padding: 10px 0; font-size: 13px; color: #fff; background: #333; border: 1px solid #555; border-radius: 30px; display: inline-block; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .calendar_wrap .reset_btn_wrap a.reset_btn:hover { color: #fff; }

.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap { padding: 20px 0; text-align: center; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap a.reserve_btn { width: 100%; height: 100%; padding: 10px 0; font-size: 15px; color: #fff; background: #333; border: 1px solid #555; border-radius: 30px; display: inline-block; }
.sit #sit_buy section.sit_sel_option .sel_option_wrap .reserve_btn_wrap a.reserve_btn:hover { color: #fff; }
    
}



















