@charset "euc-kr";
body, td, p, button, textarea, input, select { color:#646464; font-family:'굴림',굴림,gulim; font-size:12px;}

.bbs   {line-height:160%; color:#646464; }
.bbsb   {line-height:160%; font-family:'굴림',굴림,gulim; font-size:13px;  color:#646464}
.cyan   { color:#3399CC; }
.gray { color:#999999; }
.white { color:#ffffff; }
.orange { color:#EF8E31; }
.blue  { color:#7f7f7f; }
.green  { color:#00B509; }
.which { color:#cccccc; }
.lam { color:#008FA9; }
.black { color:#111111; }
.red { color:#D55E6C; }
.ye { color:#FFC438; }
.bora { color:#999BD9; }
.ho { color:#E70C52; }

.15box { width:15px;height:15px; }
.20box { width:20px;height:20px; } 


.blackb { color:#333333; font-family:'돋움',돋움,dotum; font-size:14px;}
.blackt{ color:#333333; font-family:'돋움',돋움,dotum; font-size:16px; font-weight:bold;}
.blueb { color:#7f7f7f; font-family:'돋움',돋움,dotum; font-size:14px; font-weight:bold;}
.bluet{ color:#7f7f7f; font-family:'돋움',돋움,dotum; font-size:16px; font-weight:bold;}
.redb { color:#CE0000; font-family:'돋움',돋움,dotum; font-size:16px; font-weight:bold;}
.whiteb{ color:#f4f4f4; font-family:'돋움',돋움,dotum; font-size:14px;}
.whites{ color:#f4f4f4; font-family:'돋움',돋움,dotum; font-size:12px;}
.whitet{ color:#f4f4f4; font-family:'돋움',돋움,dotum; font-size:16px; font-weight:bold;}
.yeb{ color:#FCEB5B; font-family:'돋움',돋움,dotum; font-size:14px; font-weight:bold;}
.oranget { color:#EF8E31; font-family:'돋움',돋움,dotum; font-size:18px; font-weight:bold;}
.c9 { color:#c9c9c9; font-family:'돋움',돋움,dotum; font-size:11px;}
.grays { color:#999999; font-family:'돋움',돋움,dotum; font-size:11px;}
.blacks { color:#222222; font-family:'돋움',돋움,dotum; font-size:11px;}




.text01{ font-family: "Dotum","Gulim"; font-size:12px; color: #2c2c2c; line-height: 13pt; } 
.text01:link{ font-family: "Dotum","Gulim"; font-size:12px; color: #2c2c2c; line-height: 13pt; } 
.text01:hover{ font-family: "Dotum","Gulim"; font-size:12px; color: #fb974a; line-height: 13pt; text-decoration: underline;}

.text02{ font-family: "Dotum","Gulim"; font-size:12px; color: #000000; line-height: 13pt; } 
.text02:link{ font-family: "Dotum","Gulim"; font-size:12px; color: #000000; line-height: 13pt; } 
.text02:hover{ font-family: "Dotum","Gulim"; font-size:12px; color: #000000; line-height: 13pt; text-decoration: underline;}

.text03{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; } 
.text03:link{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; } 
.text03:hover{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; text-decoration: underline;}

.text04{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; } 
.text04:link{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; } 
.text04:hover{ font-family: "Dotum","Gulim"; font-size:11px; color: #000000; line-height: 12pt; text-decoration: underline;}
