* {
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body { 
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
.blind {
    display:none;
}
.main {
    overflow: hidden;
}

#header {
    width:100%;
    position:fixed;
    top:0px;
    z-index:999999999999999999999999999999999;
    background-color: #fff;
}
#header.active{
    background-color: rgba(255,255,255,0.5);
}
#header:hover{
    background-color: #fff;
}
#header.nav-down{
    transform: translateY(0);
    transition: .5s ease;
}
#header.nav-up{
    transform: translateY(-100%);
    transition: .5s ease;
}
#header::after{
    content:"";
    width:0%;height: 1px;
    position: absolute;
    top:99px;
    background-color: #7a7a7a;
    left:50%;transform: translateX(-50%);
}
#header:hover::after{
    width:100%;
    transition: .5s ease;
}
#header.on {
    background-color:#333;
    transition-duration:0.6s;
}

#header > .inner {
    width:100%;
    position:relative;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding:0px 40px;
}
#header .logo,
#header #nav,
#header #info {
}
#header .logo {
   left:0;
   z-index:999999999;
}
#header .logo img{
    width:100%;
}
#header #nav {
    /* padding-left:150px; */
}
#header #nav .menu_ul {
    display:flex;
    /* width:720px; */
    width:920px
}
#header #nav .menu_li {
    /* padding:0 40px; */
    flex-direction:column;
    text-align:center;
    position:relative;
    width:20%;
    height: 100px;
    display: flex;align-items: center;
    justify-content: center;
    cursor: pointer;
}
#header #nav .menu_li::after{
    content:"";
    width:0%;
    height: 2px;
    background-color: #54C3F1;
    position: absolute;
    bottom: -1px;
    left:50%;transform: translateX(-50%);
}
#header #nav .menu_li:hover::after{
    width:100%;
    transition: .5s ease;
}
#header #nav .menu_tit {
    flex-direction:column;
    font-size:20px;
    font-weight:bold;
    position:relative;
    letter-spacing:-0.6px;
    color: #363636;
}

  
/*#header #nav .menu_tit.on {
    color:#f6f6f6;
}

#header #nav .menu_li:hover {
    color:#f6f6f6;
}*/
#header #nav .gnb_box {
    position:absolute;
    top:100px;
    left:0;
    width:100%;
    margin-left:0;
    padding:15px;
    text-align: center;
}

#header #nav .gnb_box.on {
    display:block;
}
#header #nav .gnb_ul{
     display: none;
}
#header #nav .gnb_li {
    flex-direction:column;
    width:100%;
    height:35px;
    line-height:35px;
    float:left;
    text-align:center;
    margin:5px 0px;
}
/* #header #nav .gnb_a::after {
    content: "\f105";
    position:absolute;
    top:0;
    right:-30px;
    font-family:FontAwesome;
    font-size:18px;
    color:#fff;
    transition-duration:0.6s;
    opacity:0;
} */
#header #nav .gnb_a:hover::after {
    right:-40px;
    opacity:1;
}
#header #nav .gnb_a {
    position:relative;
    width:100%;
    display:block;
    font-size:16px;
    z-index:9999999;
    transition-duration:0.2s;
    font-weight: 500;
    color: #363636;
}
#header #nav .gnb_a:hover {
    color:#54C3F1;;
}
/* #header #nav .gnb_li .gnb_a::before {
    content:'';    
    width:0;
    height:1px;
    position:absolute;
    left:0;
    bottom:0;
    background-color:#fff;
    transition-duration:0.2s;
} */
#header #nav .gnb_li:hover .gnb_a:before {
    width:100%;
}
#header #nav .gnb_li:hover .gnb_a::after {
    right:-10px;
    opacity:0.6;
}
#header .menu_bg{
    width:100%;height: 350px;
    position: absolute;
    top:100px;left:0;
    background-color: #fff;
    display: none;
}
#header #info {
    display: flex;
    align-items: center;
}
#header #info .member {
    display:table;
}
#header #info .member li {
    display:table-cell;
    padding-right:5px;
}
#header #info .member li::after {
    content:'';
    padding-left:5px;
    border-right:1px solid #ccc;
}
#header #info .member li:last-child:after {
    border-right:none;
} 
#header #info .member li a{
    font-size:1em;
    font-weight:400;
}
#header #info .member li:last-child {
    padding-right:0;
}

/* s:햄버거버튼 */
/* hambergur button */
.hamburger {
    cursor: pointer;
    overflow: hidden;
    position:absolute;
    right: 0;top:0;
    z-index:99999;
    width:100px;height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ddd;
}
.hamburger.on{
    border-left: none;
}
.hamburger_container{
    position: relative;
    width:40px;
    height: 30px;
    display: flex;align-items: center;
}
.hamburger_container>span{
    width:100%;height: 2px;
    background: #000;
}
.hamburger_container>span:nth-of-type(1){
    position: absolute;top:0;right: 0;
    width:80%;
}
.hamburger_container>span:nth-of-type(3){
    position: absolute;bottom: 0;right: 0;
    width:80%;
}
.hamburger_container.on>span:nth-of-type(2){
    transform: translateX(100%);
    opacity: 0;
    transition: .5s ease;
}
.hamburger_container.on>span:nth-of-type(1){
    width:100%;
    position: absolute;
    top:50%;left:0;
    transform: rotate(45deg) translateY(-50%);
    transition: .5s ease;
    background-color: #fff;
}
.hamburger_container.on>span:nth-of-type(3){
    width:100%;
    position: absolute;
    top:50%;right:0;
    transform: rotate(-45deg) translateY(-50%);
    transition: .5s ease;
    background-color: #fff;
}
/* 로그인 박스 */
.userBox ul{
    display: flex;
    align-items: center;
    margin-right: 150px;;
}
.userBox ul li{
    margin:0px 10px;
    font-size: 14px;
    width: max-content;
}



/* 로그인박스 end */

/* e:햄버거버튼 */

/* s:all_menu */
#header #all_menu {
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background-color:#333;
    z-index:999;
    transform: translateX(100%);
    transition: .5s ease;
}
#header #all_menu.on {
    transform: translateX(0);
}
#header #all_menu .menu_ul {
    width:18%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    vertical-align:middle;

}
#header #all_menu .menu_li {
    width:100%;
}

#header #all_menu .menu_tit{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    width: 100%;
    padding: 1px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #969696;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 4em;
    font-weight: 600;
    -webkit-user-select: none;
  -webkit-touch-callout: none;  
  text-align:center;

}
#header #all_menu .menu_tit:hover {
    color:#fff;
}
/* text_hover effect */

#header #all_menu .menu_tit:hover:after, 
#header #all_menu .menu_tit:focus:after{
    width: 100%;
    background-color: #fff;
}
#header #all_menu .menu_tit:hover {
    color: #fff;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer;
}
#header #all_menu .all_box {
    display:none;
}
#header #all_menu .all_box.on {
    display:block;
    transition-duration:0.6s;
}
#header #all_menu .all_tit {
    font-size:18px;
    font-weight:400;
    color: #fff;
    padding:10px 0;
    display: block;
}
#header #all_menu .all_tit:hover {
    padding-left:20px;
    transition-duration:0.6s;
    font-weight:bold;
    color:#0c56b1;
}


/* e:all_menu */


@media screen and (max-width:1240px){
    #header .logo img{
        width:80%;
    }
    #header{
        background-color: rgba(255,255,255,0.5);
    }
    #header .menu_bg{
        display: none;
    }
    #header::after{
        display: none;
    }

    #header > .inner {
        width:100%;
        height: 70px;
        display: flex;align-items: center;
        justify-content: space-between;
        padding:0px 20px;
    }
    #nav {
        display:none;
    }
    #header .logo {
        display:block;
        z-index:9999999999;
        position: static;
    }
    #header #info {
        position: static;
    }
    #header #info .member {
        display:none;
    }

   
    #header #all_menu {
        background-color:#333;
    }
  
    #header .member.on {
        display:block;
        position:fixed;
    }
    #header #all_menu .menu_ul {
        width:50%;
    }
    #header #all_menu .menu_tit {
        font-size:2rem;
    }
    #header #all_menu .all_tit {
        color:#f6f6f6;
    }
    #header #all_menu .menu_tit:hover {
        color:#f6f6f6;
    }
    /* #header #all_menu .menu_tit::before{
        content: "\f067";
        position:absolute;
        top:50%;
        right:0;
        transform:translateY(-50%);
        font-family:FontAwesome;
        font-size:10px; 
        width:20px;
        height:20px;
        line-height:20px;
        border-radius:50%;
        background-color:#ececec;
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
        color:#898989;
    } */
    #header #all_menu .menu_li.on .menu_tit::before {
        content: "\f068";
    }

    .hamburger{
        width:70px;height: 70px;
    }
    .userBox ul{
        margin-right: 90px;
    }
    .hamburger_container{
        width:31px;
        height: 21px;
    }
}

@media screen and (max-width:1500px) {
    #header #nav .menu_ul{
        width:700px;
    }
    #header #nav .menu_tit{
        font-size: 18px;
    }
}
@media screen and (max-width:400px) {
    .userBox ul{
        margin-right: 10px;
    }
    .userBox ul li{
        margin:0px 5px;
    }
}
@media screen and (max-width:600px) {
    .hamburger{
        position: static;
        width:auto;height: auto;
        border-left:none
    }
    .hamburger_container{
        width:25px;height: 17px;
    }
    .userBox ul{
        margin-right: 0;
        padding-left: 20px;
    }
    #header > .inner{
        padding:0px 10px;
    }
}