@charset "utf-8";

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
    
/* HTML5 display-role reset for older browsers */
    
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
a { text-decoration: none;}
blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.hide { display: none; }
.hidden { display: none; }

/* reserve.htnl */

body { width: 1200px; margin: 0 auto; padding: 30px 0; }

h1 { margin: 10px 0 20px; font-size: 21px; font-weight: 600; }

section { width: 100%; margin: 30px auto 0px !important; }
section .section_wrap { width: 1140px; margin: 0 auto; }
section .section_wrap section.travel_scroll_tab_header { height: 48px; border-bottom: 1px solid #ddd; }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper {  }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul { width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li {  }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li > a { height: 48px; padding: 0 40px; color: #333; line-height: 48px; }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li.selected { border-bottom: 3px solid #111;  }
section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li.selected > a { color: #111; font-weight: 900; }

section#roomsPanel { margin: 20px 0; }
section#roomsPanel form#reserveForm {  }

/* 객실조회 */
section#sec1 {  }
section#sec1 .input_box { width: 100%; padding: 10px 0; }
section#sec1 .input_box .flatpickr-input { padding: 10px 12px 7px 8px; }
section#sec1 .input_box select.select_box { padding: 10px 12px 7px 8px; }
section#sec1 .input_box span {  }
/*section#sec1 .input_box span a { width: 120px; padding: 10px 25px; color: #fff; background: #333; border: 1px solid #444; border-radius: 3px; }*/
section#sec1 .input_box span a { width: 120px; height: 42px; font-size: 17px; line-height: 40px; color: #fff; background: #333; border: 1px solid #444; border-radius: 3px; text-align: center; cursor: pointer; display: inline-block; }

section#sec1 #room_info_area {   }
section#sec1 #room_info_area table.tbroom { margin: 10px 0 0; border-bottom: 1px solid #eee; table-layout: fixed; }
section#sec1 #room_info_area table.tbroom:first-child{ margin: 20px 0 0; }

section#sec1 #room_info_area table.tbroom tr {  }
section#sec1 #room_info_area table.tbroom tr th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  box-sizing: border-box; }
section#sec1 #room_info_area table.tbroom tr th:nth-child(1) { width: 45%; border-right: 1px solid #ddd; text-align: left; }
section#sec1 #room_info_area table.tbroom tr th:nth-child(2) { width: 18%; }
section#sec1 #room_info_area table.tbroom tr th:nth-child(3) { width: 15%; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
section#sec1 #room_info_area table.tbroom tr th:nth-child(4) { width: 12%; }

section#sec1 #room_info_area table.tbroom tr td { padding: 15px 15px; font-size: 13px; color: #333; vertical-align: top; }
/*section#sec1 #room_info_area table.tbroom tr td > input { font-size: 13px; color: #fff; background: #7aa3a7; border: 1px solid #333; padding: 5px 10px; border-radius: 3px; cursor: pointer; }*/
section#sec1 #room_info_area table.tbroom tr td > input { font-size: 13px; color: #fff; background: #333; border: 1px solid #444; padding: 5px 10px; border-radius: 3px; cursor: pointer; }

section#sec1 #room_info_area table.tbroom_mo { display: none; }

section#sec1 #room_info_area table.tbroom tr td:nth-child(1) { height: 170px; vertical-align: middle; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(1) > img { width: 100%; }

section#sec1 #room_info_area table.tbroom tr td:nth-child(2) { color: #bbb; border-left: 1px solid #eee; border-right: 1px solid #eee; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(2) > ul.td_2nd_ul {  }
section#sec1 #room_info_area table.tbroom tr td:nth-child(2) > ul.td_2nd_ul > li { margin: 5px 0; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(2) > ul.td_2nd_ul > li:first-child { margin: 0 0 5px; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(2) > ul.td_2nd_ul > li::before { content: 'o'; display: inline-block; padding-right: 5px; }

section#sec1 #room_info_area table.tbroom tr td:nth-child(3) { text-align: center; }

section#sec1 #room_info_area table.tbroom tr td:nth-child(4) { border-left: 1px solid #eee; border-right: 1px solid #eee; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul {  }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul > li { margin: 6px 0; padding: 5px 0; text-align: right; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul > li:first-child { margin: 0 0 6px; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul > li > span.cancle { font-size: 17px; color: #aaa; text-decoration: line-through; }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul > li > span.red { font-size: 21px; font-weight: 600; color: crimson;  }
section#sec1 #room_info_area table.tbroom tr td:nth-child(4) > ul.td_4th_ul > li:nth-child(2) {  }

section#sec1 #room_info_area table.tbroom tr td:last-child { text-align: center; }

/* 객실선택 */
section#sec2 { margin: 20px 0; padding: 10px 0 10px 0; /*background: #f7f7f7;*/  }
section#sec2 #room_reseve_select { padding: 0px 10px; /*background: #efefef;*/  }

section#sec2 #room_reseve_select { width: 1140px; }
section#sec2 #room_reseve_select h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#sec2 #room_reseve_select h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#sec2 #room_reseve_select table { /*width: 500px;*/ margin: 20px 10px; }
section#sec2 #room_reseve_select table th { color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#sec2 #room_reseve_select table td { background: #fafafa; box-sizing: border-box; }
section#sec2 #room_reseve_select table td input { border: 0; background: none; }
section#sec2 #room_reseve_select table button { cursor: pointer; background: #aaa; color: #fff; border: 1px solid #777; }
section#sec2 #room_reseve_select table tr:nth-child(2n) td { background: #fff; }
section#sec2 #room_reseve_select table tr:nth-child(2n) td input { background: #fff; }

section#sec2 #room_reseve_select table.table_1 { width: 500px; float: left; }
section#sec2 #room_reseve_select table.table_1 tr {  }
section#sec2 #room_reseve_select table.table_1 tr th { width: 42%; padding: 10px 5%; text-align: left;   }
section#sec2 #room_reseve_select table.table_1 tr td { width: 38%; padding: 10px 3%; text-align: right; }
section#sec2 #room_reseve_select table.table_1 tr td input { width: 25px; }

section#sec2 #room_reseve_select table.table_2 { width: 580px; float: right; }
section#sec2 #room_reseve_select table.table_2 tr { padding: 5px 0; }
section#sec2 #room_reseve_select table.table_2 tr th { height: 30px; padding: 10px 0; line-height: 30px; }
section#sec2 #room_reseve_select table.table_2 tr td { padding: 8px 0; text-align: center;  }
section#sec2 #room_reseve_select table.table_2 tr td:nth-child(1) { /*text-align: left;*/ }
section#sec2 #room_reseve_select table.table_2 tr td input { width: 25px; }

section#sec2 #room_reseve_select table.table_3 { width: 500px; float: left; }
section#sec2 #room_reseve_select table.table_3 tr { padding: 5px 0; }
section#sec2 #room_reseve_select table.table_3 tr th { width: 30%; padding: 10px 5%; text-align: left;  }
section#sec2 #room_reseve_select table.table_3 tr td { width: 50%; padding: 10px 5%; text-align: right; }
section#sec2 #room_reseve_select table.table_3 tr td:nth-child(1) { /*text-align: left;*/ }
section#sec2 #room_reseve_select table.table_3 tr td input { width: 90px; border: 0; background: none; text-align: right; font-size: 17px; }

/* 추가정보 */
section#sec3 { min-height: 800px; margin: 20px 0; padding: 10px 0 10px 0; }
section#sec3 #room_guide_info { width: 1140px; }
section#sec3 #room_guide_info h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#sec3 #room_guide_info h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#sec3 #room_guide_info .sec3_wrap { margin: 40px 0 10px; }
section#sec3 #room_guide_info .sec3_wrap .con_wrap { margin: 20px 0 30px;  }
section#sec3 #room_guide_info .sec3_wrap .con_wrap p { padding: 20px 25px; font-size: 15px; font-weight: 400; line-height: 31px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
section#sec3 #room_guide_info .sec3_wrap .con_wrap p span { color: red; }
section#sec3 #room_guide_info .sec3_wrap .con_wrap .sec3_input_box { width: 30%; margin: 20px 0; padding: 5px 10px; font-size: 15px; font-weight: 300; line-height: 27px; }

/* 고객정보 */
section#sec4 { min-height: 800px; margin: 20px 0; padding: 10px 0 10px 0; }
section#sec4 #room_reseve_pay { width: 1140px; }
section#sec4 #room_reseve_pay h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#sec4 #room_reseve_pay h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

/* 기존 table CSS 시작 */
/*section#sec4 #room_reseve_pay table.reser_pay_table1 { width: 100%; margin: 40px 0 0; border-bottom: 1px solid #ddd; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr { padding: 5px 0; background: #fdfdfd; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr:nth-child(2n) { background: #fff; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  box-sizing: border-box; text-align: center; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(1) { width: 64%; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(2) { width: 5%; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(3) { width: 15%; }

section#sec4 #room_reseve_pay table.reser_pay_table1 tr td { padding: 15px 15px; color: #666; text-align: center; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(1) { padding: 15px 30px; text-align: left; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(2) { border-left: 1px solid #eee; border-right: 1px solid #eee; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(3) { text-align: right; }

section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr { border-top: 1px solid #ddd; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr th { padding: 15px 30px; text-align: left; font-weight: 500; }
section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr td { color: #333; border-left: 1px solid #eee; border-right: 0; text-align: right; }*/
/* 기존 table CSS 끝 */

section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo  { display: none; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc { display: block; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 { width: 100%; margin: 30px 0 30px; border-bottom: 1px solid #ddd; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: left; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-child(1) { width: 24%; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-child(2) { width: 18%; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(1),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(2),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 th:nth-last-child(3) { width: 13%; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 td { padding: 15px 5px; text-align: center; border-bottom: 1px solid #eee; line-height: 27px; vertical-align: middle; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-last-child(2) td:nth-last-child(1),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-last-child(2) td:nth-last-child(2),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:nth-last-child(2) td:nth-last-child(3) { padding: 15px 10px 15px 5px; text-align: right; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td { background: #fcfcfc; border-bottom: 1px solid #ddd; }
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(1),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(2),
section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc table.reser_pay_table_1 tr:last-child td:nth-last-child(3) { padding: 15px 15px 15px 5px; text-align: right; }

section#sec4 #room_reseve_pay table.reser_pay_table2 { width: 600px; margin: 20px 0; float: left; }
section#sec4 #room_reseve_pay table.reser_pay_table2 tr { padding: 5px 0; }
section#sec4 #room_reseve_pay table.reser_pay_table2 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#sec4 #room_reseve_pay table.reser_pay_table2 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa; }
section#sec4 #room_reseve_pay table.reser_pay_table2 tr:nth-child(2n) td { background: #fff; }

section#sec4 #room_reseve_pay table.reser_pay_table3 { width: 580px; margin: 30px 10px; float: left; }
section#sec4 #room_reseve_pay table.reser_pay_table3 tr { padding: 5px 0; }
section#sec4 #room_reseve_pay table.reser_pay_table3 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
section#sec4 #room_reseve_pay table.reser_pay_table3 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa }
section#sec4 #room_reseve_pay table.reser_pay_table3 tr td textarea { width: 100%; }
section#sec4 #room_reseve_pay table.reser_pay_table3 tr:nth-child(2n) td { background: #fff; }

section#sec4 #room_reseve_pay table.reser_pay_table4 { width: 520px; margin: 30px 10px; float: right; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr { padding: 5px 0; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr th { width: 30%; padding: 10px 5%; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr td { width: 50%; padding: 10px 5%; text-align: right; background: #fafafa; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr:nth-child(2n) td { background: #fff; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input { width: 10%; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input#account_info { width: 80%; text-align: right; }
section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input#depositor { width: 40%; text-align: right; }


/* 예약완료 */
section#sec5 { min-height: 800px; margin: 20px 0; padding: 10px 0 10px 0; }
section#sec5 #room_reseve_end { width: 1140px; }
section#sec5 #room_reseve_end h5 { margin: 20px 0; font-size: 21px; font-weight: 500; position: relative; }
section#sec5 #room_reseve_end h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

section#sec5 #room_reseve_end .top_notice { margin: 40px 0 30px; padding: 20px 30px 40px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; /*position: relative;*/ }
section#sec5 #room_reseve_end .top_notice h6 { font-size: 17px; font-weight: 600; line-height: 61px; }
section#sec5 #room_reseve_end .top_notice p { font-size: 15px; line-height: 25px; position: relative; }
/*section#sec5 #room_reseve_end .top_notice p:before { font-family: "Font Awesome 5 Free"; content: '\f111'; display: inline-block; position: absolute; top: 0; left: -20px; font-family: font }*/

section#sec5 #room_reseve_end .table_wrap_mo  { display: none; }
section#sec5 #room_reseve_end .table_wrap_pc { display: block; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 { width: 100%; margin: 30px 0 30px; border-bottom: 1px solid #ddd; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th { padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; text-align: left; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th:nth-child(1) { width: 24%; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th:nth-child(2) { width: 18%; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th:nth-last-child(1),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th:nth-last-child(2),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 th:nth-last-child(3) { width: 13%; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 td { padding: 15px 5px; text-align: center; border-bottom: 1px solid #eee; line-height: 27px; vertical-align: middle; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:nth-last-child(2) td:nth-last-child(1),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:nth-last-child(2) td:nth-last-child(2),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:nth-last-child(2) td:nth-last-child(3) { padding: 15px 10px 15px 5px; text-align: right; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:last-child td { background: #fcfcfc; border-bottom: 1px solid #ddd; }
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(1),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(2),
section#sec5 #room_reseve_end .table_wrap_pc table.table_1 tr:last-child td:nth-last-child(3) { padding: 15px 15px 15px 5px; text-align: right; }

section#sec5 #room_reseve_end table.table_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
section#sec5 #room_reseve_end table.table_2 tr { border-bottom: 1px solid #eee; }
section#sec5 #room_reseve_end table.table_2 tbody tr:last-child { border-bottom: 0; }
section#sec5 #room_reseve_end table.table_2 th { width: 12%; padding: 15px 15px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; }
/*section#sec5 #room_reseve_end table.table_2 tr:nth-child(2) th { background: #fcfcfc; text-align: center; }*/
section#sec5 #room_reseve_end table.table_2 td { padding: 15px 15px; line-height: 27px; }
section#sec5 #room_reseve_end table.table_2 tr:last-child td {   }
section#sec5 #room_reseve_end table.table_2 tr:last-child td:nth-last-child(1),
section#sec5 #room_reseve_end table.table_2 tr:last-child td:nth-last-child(2),
section#sec5 #room_reseve_end table.table_2 tr:last-child td:nth-last-child(3) {  }




.button_box { width: 500px; margin: 20px auto 20px; padding: 30px 0 0; clear: both; }
.button_box::after { content: ''; display: block; clear: both; }
.button_box input { width: 200px; margin: 0 23px; padding: 10px 15px; font-size: 17px; }

.pc_br { display: block; }
.mo_br { display: none; }



@media(max-width: 767px) {
    button, select { border-radius: 0; appearance: none; -webkit-border-radius: 0; -webkit-appearance: none; border: 1px solid #333; box-sizing: border-box; }
    input[type='date'], input[type='button'], input[type='submit'] { border-radius: 0; appearance: none; -webkit-border-radius: 0; -webkit-appearance: none; border: 1px solid #333; box-sizing: border-box; }
    input[type='date'] { height: 40px; font-size: 13px; border-radius: 3px; }
    input[type='button'] { height: 40px; font-size: 15px; border-radius: 3px; color: #333; background: #fafafa; } 
    
    body { width: 98%; margin: 0 1%; }

    section { width: 100%; margin: 10px auto 0px !important; }
    section .section_wrap { width: 100%; margin: 0 auto; }
    section .section_wrap section.travel_scroll_tab_header { height: inherit; border-bottom: 0; }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper {  }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul { width: 100%; margin: 10px 0; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul::after { content: ''; display: block; clear: both; }
    /*section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li { width: 50%; text-align: center; border-bottom: 1px solid #eee; box-sizing: border-box; }*/
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li { width: 25%; height: 52px; text-align: center; border-bottom: 1px solid #eee; box-sizing: border-box; }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li > a { width: 100%; height: 100%; padding: 0; font-size: 13px; color: #333; line-height: 21px; display: flex; align-items: center; justify-content: center; }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li.selected { border-bottom: 3px solid #111;  }
    section .section_wrap section.travel_scroll_tab_header .tab_header_wrapper > ul > li.selected > a { color: #111; font-weight: 900; }

    section#roomsPanel { margin: 20px 0; }
    section#sec1 {  }
    section#sec1 .input_box { width: 100%; margin: 0 0 20px 0; padding: 10px 0; }
    section#sec1 .input_box .flatpickr-input { width: 96%; margin: 5px 2%; padding: 7px 12px 4px 8px; background: #fff; color: #333; }
    section#sec1 .input_box select.select_box { width: 28.2%; margin: 5px 2%; padding: 10px 12px 7px 8px; background: #fff; color: #333; }
    section#sec1 .input_box span {  }
    section#sec1 .input_box span a { width: 120px; height: 42px; margin: 5px auto; font-size: 17px; line-height: 40px; color: #fff; background: #333; border: 1px solid #444; border-radius: 3px; text-align: center; cursor: pointer; display: block; }

    section#sec1 #room_info_area .table_wrap_pc { display: none; }

    section#sec1 #room_info_area table.tbroom_mo { display: table; width: 100% !important; margin-bottom: 30px; }
    section#sec1 #room_info_area table.tbroom_mo th { width: 100%; }
    section#sec1 #room_info_area table.tbroom_mo th img { width: 100%; }
    section#sec1 #room_info_area table.tbroom_mo td { width: 100%; padding: 0 10px; display: block; }
    section#sec1 #room_info_area table.tbroom_mo td td_2nd_ul { width: 100%; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(1) th { height: 320px; vertical-align: middle; background-color: #fafafa; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(2) th { margin: 20px 0 10px; font-size: 19px; font-weight: 500; display: block; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(3) td { margin: 10px 0; color: #bbb; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(3) td > ul.td_2nd_ul {  }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(3) td > ul.td_2nd_ul > li { margin: 8px 0px; font-size: 15px; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(3) td > ul.td_2nd_ul > li::before { content: 'o'; display: inline-block; padding-right: 5px; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.left { width: 50%; float: left; margin: 10px 0; text-align: left; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right { width: 50%; float: left; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right > ul.td_4th_ul {  }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right > ul.td_4th_ul > li { margin: 8px 0px; /*padding: 5px 0;*/ text-align: right; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right > ul.td_4th_ul > li:last-child {  }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right > ul.td_4th_ul > li > span.cancle { font-size: 19px; color: #aaa; text-decoration: line-through; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(4) td.right > ul.td_4th_ul > li > span.red { font-size: 23px; font-weight: 600; color: crimson; }

    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(5) td { margin: 20px 0; text-align: center; }
    section#sec1 #room_info_area table.tbroom_mo tr:nth-child(5) td > input { width: 120px; color: #fafafa; background: #333; border: 1px solid #444; }

    section#sec2 #room_reseve_select { width: 100%; }
    section#sec2 #room_reseve_select h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
    section#sec2 #room_reseve_select h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

    section#sec2 #room_reseve_select table { /*width: 500px;*/ margin: 20px 0px; }
    section#sec2 #room_reseve_select table th { color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
    section#sec2 #room_reseve_select table td { background: #fafafa; box-sizing: border-box; }
    section#sec2 #room_reseve_select table td input { border: 0; background: none; }
    section#sec2 #room_reseve_select table button { cursor: pointer; background: #aaa; color: #fff; border: 1px solid #777; }
    section#sec2 #room_reseve_select table tr:nth-child(2n) td { background: #fff; }
    section#sec2 #room_reseve_select table tr:nth-child(2n) td input { background: #fafafa; }

    section#sec2 #room_reseve_select table.table_1 { width: 100%; float: left; }
    section#sec2 #room_reseve_select table.table_1 tr {  }
    section#sec2 #room_reseve_select table.table_1 tr th { width: 58%; padding: 10px 2%; text-align: left; font-size: 15px; }
    section#sec2 #room_reseve_select table.table_1 tr td { width: 34%; padding: 10px 2%; text-align: center; font-size: 13px; }
    section#sec2 #room_reseve_select table.table_1 tr td input { width: 25px; }

    section#sec2 #room_reseve_select table.table_2 { width: 100%; float: right; }
    section#sec2 #room_reseve_select table.table_2 tr { padding: 5px 0; }
    section#sec2 #room_reseve_select table.table_2 tr th { height: 30px; padding: 10px 0; line-height: 30px; font-size: 15px; }
    section#sec2 #room_reseve_select table.table_2 tr td { padding: 8px 0; text-align: center; font-size: 13px; }
    section#sec2 #room_reseve_select table.table_2 tr td:nth-child(1) { /*text-align: left;*/ }
    section#sec2 #room_reseve_select table.table_2 tr td input { width: 25px; }

    section#sec2 #room_reseve_select table.table_3 { width: 100%; float: left; }
    section#sec2 #room_reseve_select table.table_3 tr { padding: 5px 0; }
    section#sec2 #room_reseve_select table.table_3 tr th { width: 52%; padding: 10px 2%; text-align: left; font-size: 15px; }
    section#sec2 #room_reseve_select table.table_3 tr td { width: 40%; padding: 10px 2%; text-align: right; font-size: 13px; }
    section#sec2 #room_reseve_select table.table_3 tr td:nth-child(1) { /*text-align: left;*/ }
    section#sec2 #room_reseve_select table.table_3 tr td input { width: 90px; border: 0; background: none; text-align: right; font-size: 13px; }

    section#sec3 #room_guide_info { width: 100%; }
    section#sec3 #room_guide_info h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
    section#sec3 #room_guide_info h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

    section#sec3 #room_guide_info .sec3_wrap { margin: 40px 0 10px; }
    section#sec3 #room_guide_info .sec3_wrap .con_wrap { margin: 20px 0 25px; }
    section#sec3 #room_guide_info .sec3_wrap .con_wrap p { padding: 20px 10px; font-size: 13px; font-weight: 400; line-height: 25px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
    section#sec3 #room_guide_info .sec3_wrap .con_wrap p span { color: red; }
    section#sec3 #room_guide_info .sec3_wrap .con_wrap .sec3_input_box { width: 98%; margin: 10px 1%; padding: 5px 10px; font-size: 13px; font-weight: 300; line-height: 27px; }

    section#sec4 #room_reseve_pay { width: 100%; }
    section#sec4 #room_reseve_pay h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
    section#sec4 #room_reseve_pay h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }
    
    /* 기존 table CSS 시작 */
    /*section#sec4 #room_reseve_pay table.reser_pay_table1 { width: 100%; margin: 40px 0 0; border-bottom: 1px solid #ddd; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr { padding: 5px 0; background: #fdfdfd; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr:nth-child(2n) { background: #fff; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr th { padding: 15px 10px; font-size: 15px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  box-sizing: border-box; text-align: center; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(1) { width: inherit; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(2) { width: 15%; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr th:nth-child(3) { width: 28%; }

    section#sec4 #room_reseve_pay table.reser_pay_table1 tr td { padding: 15px 10px; font-size: 13px ; color: #666; text-align: center; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(1) { padding: 15px 10px; text-align: left; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(2) { border-left: 1px solid #eee; border-right: 1px solid #eee; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr td:nth-child(3) { text-align: right; }

    section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr { border-top: 1px solid #ddd; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr th { padding: 15px 10px; text-align: center; font-weight: 500; }
    section#sec4 #room_reseve_pay table.reser_pay_table1 tr.last_tr td { color: #333; border-left: 1px solid #eee; border-right: 0; text-align: right; }*/
    /* 기존 table CSS 끝 */
    
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_pc  { display: none; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo  { display: block; width: 100%; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 { width: 100%; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 th { padding: 15px 10px; font-size: 16px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #f6f6f6; box-sizing: border-box; text-align: center; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:nth-child(1) th { background: #f5f5f5; border-bottom: 1px solid #ddd; text-align: left; }
    /*section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(2) th { background: #fff; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(3) td { background: #fff; }*/
    /*section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(4) th { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(5) td { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(8) th { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(9) td { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(10) th { background: #fff; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(11) td { background: #fff; }*/
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 td { padding: 15px 30px; font-size: 14px; text-align: center; border-top: 1px solid #f6f6f6; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td { /*background: #fff;*/ border-bottom: 1px solid #ddd; }
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(1),
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(2),
    section#sec4 #room_reseve_pay .reser_pay_table_wrap_mo table.reser_pay_table_1 tr:last-child td:nth-last-child(3) { text-align: center; }

    section#sec4 #room_reseve_pay table.reser_pay_table2 { width: 100%; margin: 10px 0; float: left; }
    section#sec4 #room_reseve_pay table.reser_pay_table2 tr { padding: 5px 0; }
    section#sec4 #room_reseve_pay table.reser_pay_table2 tr th { width: 25%; padding: 10px 2%; font-size: 15px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
    section#sec4 #room_reseve_pay table.reser_pay_table2 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa; }
    section#sec4 #room_reseve_pay table.reser_pay_table2 tr:nth-child(2n) td { background: #fff; }

    section#sec4 #room_reseve_pay table.reser_pay_table3 { width: 100%; margin: 10px 0; float: left; }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr { padding: 5px 0; }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr th { width: 25%; padding: 10px 2%; font-size: 15px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; vertical-align: middle; }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr td input { width: 100%; }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr td textarea { width: 100%; }
    section#sec4 #room_reseve_pay table.reser_pay_table3 tr:nth-child(2n) td { background: #fff; }

    section#sec4 #room_reseve_pay table.reser_pay_table4 { width: 100%; margin: 10px 0; float: right; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr { padding: 5px 0; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr th { width: 25%; padding: 10px 2%; font-size: 15px; text-align: left; color: #fff; background: rgba(10, 10, 10, 0.75); box-sizing: border-box; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr td { width: 58%; padding: 10px 1.5%; font-size: 13px; text-align: right; background: #fafafa; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr:nth-child(2n) td { background: #fff; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input { width: 10%; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input#account_info { width: 100%; text-align: right; }
    section#sec4 #room_reseve_pay table.reser_pay_table4 tr td input#depositor { width: 100%; text-align: right; }

    section#sec5 #room_reseve_end { width: 100%; }
    section#sec5 #room_reseve_end h5 { margin: 20px; font-size: 21px; font-weight: 500; position: relative; }
    section#sec5 #room_reseve_end h5::before { content: ''; width: 5px; height: 100%; border-left: 5px solid #333; position: absolute; top: 0; left: -12px; }

    section#sec5 #room_reseve_end .top_notice { margin: 40px 0 30px; padding: 20px 10px 30px; background: #fafafa; border: 3px solid #f1f1f1; box-sizing: border-box; border-radius: 3px; }
    section#sec5 #room_reseve_end .top_notice h6 { font-size: 15px; font-weight: 600; line-height: 41px; }
    section#sec5 #room_reseve_end .top_notice p { font-size: 13px; line-height: 25px; position: relative; }

    section#sec5 #room_reseve_end .table_wrap_pc  { display: none; }
    section#sec5 #room_reseve_end .table_wrap_mo  { display: block; width: 100%; }
    section#sec5 #room_reseve_end .table_wrap_mo .table_1 { width: 100%; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 th { padding: 15px 10px; font-size: 16px; font-weight: 600; color: #333; background: #fafafa; border-top: 1px solid #ddd; border-bottom: 1px solid #f6f6f6; box-sizing: border-box; text-align: center; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(1) th { background: #f5f5f5; border-bottom: 1px solid #ddd; text-align: left; }
    /*section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(2) th { background: #fff; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(3) td { background: #fff; }*/
    /*section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(4) th { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(5) td { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(8) th { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(9) td { background: #fafafa; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(10) th { background: #fff; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:nth-child(11) td { background: #fff; }*/
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 td { padding: 15px 30px; font-size: 14px; text-align: center; border-top: 1px solid #f6f6f6; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:last-child td { /*background: #fff;*/ border-bottom: 1px solid #ddd; }
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(1),
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(2),
    section#sec5 #room_reseve_end .table_wrap_mo table.table_1 tr:last-child td:nth-last-child(3) { text-align: center; }

    section#sec5 #room_reseve_end table.table_2 { width: 100%; margin: 30px 0 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
    section#sec5 #room_reseve_end table.table_2 tr { border-bottom: 1px solid #eee; }
    section#sec5 #room_reseve_end table.table_2 tbody tr:last-child { border-bottom: 0; }
    section#sec5 #room_reseve_end table.table_2 th { width: 30%; padding: 15px 10px; font-size: 15px; font-weight: 600; color: #333; background: #fafafa; box-sizing: border-box; text-align: left; vertical-align: middle; }
    section#sec5 #room_reseve_end table.table_2 td { padding: 15px 10px; font-size: 13px; line-height: 27px; }
    section#sec5 #room_reseve_end table.table_2 tbody tr:last-child td { padding: 15px 10px; }
    section#sec5 #room_reseve_end table.table_2 tbody tr:last-child td textarea { width: 100%; }



    .button_box { width: 100%; margin: 20px auto 20px; padding: 30px 0 0; clear: both; }
    .button_box::after { content: ''; display: block; clear: both; }
    .button_box input { width: 45%; margin: 0 2%; padding: 10px 15px; font-size: 15px; }

    /*.pc_br { display: none; }*/
    .mo_br { display: block; }
}