@charset "utf-8";

/* 게시판 버튼 */
/* 목록 버튼 */

#bo_w{
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

#bo_w .nnser{
	width: 100% !important;
}

a.btn_admin, .btn_admin{
	background: #e5ecef !important;
}

.tbl_head01 thead th {
    width: 30px;
}

.tbl_head01 td {
    text-align: center;
}

.btn_bo_user {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.btn_bo_user li{
	margin-left: 20px;
}