<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>차놀자 관리 페이지</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="/chanolja_mng/static/js/jquery.js"></script>
  <link rel="stylesheet" href="/chanolja_mng/static/css/common.css">
  <script src="https://kit.fontawesome.com/f1ca3de2c6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://kit.fontawesome.com/f1ca3de2c6.css" crossorigin="anonymous">

  <style>
    body{
      background: #f5f7fa;
    }

    #body_pc_warp{
      margin-top: 101px;
      margin-left: 251px;
      width: calc(100% - 250px);
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="header">

  </div>
  <div id="body_pc_warp">

  </div>
<!--  <div id="body_mobile_warp">-->

<!--  </div>-->
</body>
</html>
<script>
  $(document).ready(function(){
    $('#header').load("/chanolja_mng/common/header");
  });
</script>